***
# 데이터 분석
***

# 1. 자치구별 순위분석

In [69]:
import pandas as pd

final_df = pd.read_excel('../Starbucks Data/final_df.xlsx')
final_df.head()

,자치구,위도,경도,인구 수 (명),인구밀도 (명/㎢),스타벅스 지점 수,리저브 매장,지점 당 인구수 (명),소득구간,월평균소득,총지출액
0,강남구,37.495985,127.066409,542327,84271,90,11,6025,9,4943841,2608201860000
1,강동구,37.549208,127.146482,463005,80589,17,1,27235,7,3292857,160400134000
2,강북구,37.646995,127.014716,295773,67566,6,0,49295,6,2547460,61629372000
3,강서구,37.565762,126.822656,572382,99690,27,1,21199,7,3160623,196544942000
4,관악구,37.465399,126.943807,502430,83932,12,1,41869,6,2771927,118122959000

## 1-1. 자치구별 지점 개수 순위 확인

In [70]:
sb_cnt_rank = final_df.sort_values(by='스타벅스 지점 수', ascending=False)
sb_cnt_rank.index = list(range(1, len(final_df) + 1))

sb_cnt_rank.head(3)

,자치구,위도,경도,인구 수 (명),인구밀도 (명/㎢),스타벅스 지점 수,리저브 매장,지점 당 인구수 (명),소득구간,월평균소득,총지출액
1,강남구,37.495985,127.066409,542327,84271,90,11,6025,9,4943841,2608201860000
2,중구,37.557945,126.994190,132054,25546,54,4,2445,7,3513603,2531979244000
3,서초구,37.476953,127.037810,408753,63822,48,4,8515,9,4912401,622104358000

## 1-2. 자치구별 리저브 매장 개수 순위 확인

In [71]:
reserve_cnt_rank = final_df.sort_values(by='리저브 매장', ascending=False)
reserve_cnt_rank.index = list(range(1, len(final_df) + 1))

reserve_cnt_rank.head(3)

,자치구,위도,경도,인구 수 (명),인구밀도 (명/㎢),스타벅스 지점 수,리저브 매장,지점 당 인구수 (명),소득구간,월평균소득,총지출액
1,강남구,37.495985,127.066409,542327,84271,90,11,6025,9,4943841,2608201860000
2,영등포구,37.520641,126.913924,398842,66362,42,6,9496,7,3604887,217071132000
3,서초구,37.476953,127.037810,408753,63822,48,4,8515,9,4912401,622104358000

## 1-3. 자치구별 월평균소득 순위 확인

In [72]:
# 지역구 월 평균소득 순위
income_rank = final_df.sort_values(by='월평균소득', ascending=False)
income_rank.index = list(range(1, len(final_df) + 1))

income_rank.head(3)

,자치구,위도,경도,인구 수 (명),인구밀도 (명/㎢),스타벅스 지점 수,리저브 매장,지점 당 인구수 (명),소득구간,월평균소득,총지출액
1,강남구,37.495985,127.066409,542327,84271,90,11,6025,9,4943841,2608201860000
2,서초구,37.476953,127.037810,408753,63822,48,4,8515,9,4912401,622104358000
3,송파구,37.504853,127.114482,662872,106281,36,2,18413,8,3995905,200981264000

## 1-4. 자치구별 지출액 순위 확인

In [73]:
expense_rank = final_df.sort_values(by='총지출액', ascending=False)
expense_rank.index = list(range(1, len(final_df) + 1))

expense_rank.head(3)

,자치구,위도,경도,인구 수 (명),인구밀도 (명/㎢),스타벅스 지점 수,리저브 매장,지점 당 인구수 (명),소득구간,월평균소득,총지출액
1,강남구,37.495985,127.066409,542327,84271,90,11,6025,9,4943841,2608201860000
2,중구,37.557945,126.994190,132054,25546,54,4,2445,7,3513603,2531979244000
3,구로구,37.495486,126.858121,417774,78150,14,0,29841,7,2994059,1370077164000

# 2. 상관계수 분석

In [74]:
# 분석 데이터:
import pandas as pd
final_df = pd.read_excel('../Starbucks Data/final_df.xlsx')
starbucks_st = pd.read_excel('../Starbucks Data/Starbucks_list.xlsx')
corr = pd.read_excel('../Starbucks Data/final_df.xlsx')

## 2-1. 월평균소득 - 스타벅스 매장수의 상관계수 분석:
0.80으로 상당히 높은 연관성을 보이고 있으며, p-value 0.000000184로 유의하다.

In [75]:
import scipy.stats as stats
stats.pearsonr(final_df['스타벅스 지점 수'],final_df['월평균소득'])

# final_df[['스타벅스 지점 수','월평균소득']].corr()        # .corr() 함수 : 상관계수를 dataframe 형태로 보여줌

PearsonRResult(statistic=0.7971977250893262, pvalue=1.8386298926655236e-06)

## 2-2. 월평균소득 - 스타벅스 리저브 매장수의 상관계수 분석:
0.73으로 상당히 높은 연관성을 보이고 있으며, p-value 0.00000354로 유의하다.

In [76]:
# 상관계수가 유의미한가
import scipy.stats as stats 
stats.pearsonr(final_df['리저브 매장'],final_df['월평균소득'])

# final_df[['리저브 매장','월평균소득']].corr()

PearsonRResult(statistic=0.729243827915415, pvalue=3.5421190583132025e-05)

## 2-3. 월평균소득과 지출의 상관관계

In [77]:
# 소득 - 지출 상관계수 도출 : 0.47로 뚜렷한 양적 선형 관계를 보임
corr[['월평균소득','총지출액']].corr()

          월평균소득      총지출액
월평균소득  1.000000  0.469383
총지출액   0.469383  1.000000

In [78]:
# 피어슨상관계수 -> pvalue 0.017923801954677444 로 유의미
import scipy.stats as stats
stats.pearsonr(corr['월평균소득'],corr['총지출액'])
result = stats.pearsonr(corr['월평균소득'],corr['총지출액'])
result

PearsonRResult(statistic=0.469382996062172, pvalue=0.017923801954677444)

## 2-4. 스타벅스 지점수 - 지출 유형별 상관계수 분석

In [79]:
corr_income = []
col_name = []
corr_coe = []
p_values = []

for col in corr.columns[6:-1]:
    corr_income = stats.pearsonr(corr['스타벅스 지점 수'],corr[col])
    correlation_coefficient = round(corr_income.correlation,2)
    p_value = round(corr_income.pvalue,10)
    
    col_name.append(col)
    corr_coe.append(correlation_coefficient)
    p_values.append(p_value)

### corr_df 엑셀파일로 저장

In [80]:
data = {
    '지출유형': col_name,
    '상관계수': corr_coe,
    'p-value': p_values
}

corr_df = pd.DataFrame(data=data)
corr_df

corr_df.to_excel('../Starbucks Data/corr_df.xlsx')