# TF-IDF 
: Term Frequency-Inverse Document Frequency
---

In [2]:
import pandas as pd

df = pd.read_excel('./data/imdb.xlsx',index_col=0)
df

                                                review  sentiment
0    A very, very, very slow-moving, aimless movie ...          0
1    Not sure who was more lost - the flat characte...          0
2    Attempting artiness with black & white and cle...          0
3         Very little music or anything to speak of.            0
4    The best scene in the movie was when Gerardo i...          1
..                                                 ...        ...
743  I just got bored watching Jessice Lange take h...          0
744  Unfortunately, any virtue in this film's produ...          0
745                   In a word, it is embarrassing.            0
746                               Exceptionally bad!            0
747  All in all its an insult to one's intelligence...          0

[748 rows x 2 columns]

### TfidfVectorizer
    from sklearn.feature_extraction.text import TfidfVectorizer

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(max_features=500, stop_words='english')
tdm = tfidf.fit_transform(df['review'])

print(tdm)

  (0, 264)	0.43676152065842583
  (0, 499)	0.5112421488050499
  (0, 284)	0.23148088751652843
  (0, 286)	0.5112421488050499
  (0, 385)	0.48261672511123166
  (1, 185)	0.4508252485652821
  (1, 27)	0.4630757536620436
  (1, 61)	0.330043211383874
  (1, 253)	0.4775650258680223
  (1, 417)	0.4952984618525246
  (2, 293)	0.3326996842333155
  (2, 242)	0.30667834544717537
  (2, 319)	0.24142314513946203
  (2, 321)	0.3140711939059074
  (2, 5)	0.22041303500891976
  (2, 354)	0.32260561111952785
  (2, 108)	0.3140711939059074
  (2, 54)	0.28904743387646237
  (2, 71)	0.32260561111952785
  (2, 475)	0.30015739096222105
  (2, 43)	0.2943241984036562
  (2, 284)	0.15064019733663225
  (3, 394)	0.6747516922530599
  (3, 287)	0.5316526285937699
  (3, 244)	0.5119137000618044
  :	:
  (739, 146)	1.0
  (740, 9)	0.83021432552157
  (740, 182)	0.5574443234070686
  (741, 250)	0.6167137686897144
  (741, 481)	0.4797072301038725
  (741, 405)	0.4694360111750707
  (741, 239)	0.41130880407139175
  (742, 284)	1.0
  (743, 46)	0.5981049664516604
  (743, 179)	0.5396026349269978
  (743, 473)	0.46523248115164195
  (743, 225)	0.36695801390238936
  (744, 456)	0.4787210520194807
  (744, 369)	0.3723703953368651
  (744, 484)	0.3723703953368651
  (744, 333)	0.4641967061027434
  (744, 153)	0.22103009773200638
  (744, 253)	0.4787210520194807
  (745, 483)	1.0
  (746, 33)	1.0
  (747, 215)	0.46489396551779516
  (747, 216)	0.46489396551779516
  (747, 205)	0.46489396551779516
  (747, 283)	0.45078913193819853
  (747, 468)	0.3852401342043984

In [6]:
word_count = pd.DataFrame({
    '단어':tfidf.get_feature_names_out(),
    'tf-idf':tdm.sum(axis=0).flat
})

word_count.sort_values('tf-idf',ascending=False).head(5)

        단어     tf-idf
284  movie  44.917213
153   film  40.356390
33     bad  25.258572
225   just  20.296871
178   good  18.604656

### CountVectorizer() + TfidfTransformer() 
    from sklearn.feature_extraction.text import CountVectorizer
    from sklearn.feature_extraction.text import TfidfTransformer

In [8]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

cv = CountVectorizer(max_features=500, stop_words='english')
tdm2 = cv.fit_transform(df['review'])

trans = TfidfTransformer()
tdm3 = trans.fit_transform(tdm2)
tdm3

<748x500 sparse matrix of type '<class 'numpy.float64'>'
	with 3434 stored elements in Compressed Sparse Row format>

In [9]:
wc2 = pd.DataFrame({
    '단어':cv.get_feature_names_out(),
    'tf-idf':tdm3.sum(axis=0).flat
})
wc2.sort_values('tf-idf',ascending=False).head()

        단어     tf-idf
284  movie  44.917213
153   film  40.356390
33     bad  25.258572
225   just  20.296871
178   good  18.604656

### 두가지 방법으로 만든 tdm 비교

In [10]:
import numpy as np
np.allclose(tdm.A, tdm3.A)
## .A는 압축된(Compressed) tdm,tdm3을 압출풀기 알집같은 거임.

True