# 11월 15일 판다스

In [35]:
# 판다스를 사용하려면
import pandas as pd

## 시리즈 Series

In [36]:
#pd.Series() 사용 예시: dict to series

dict_data = {'a':1,'b':2,'c':3}
sr = pd.Series(dict_data)

In [37]:
print(type(sr))
print()
print(sr)

<class 'pandas.core.series.Series'>

a    1
b    2
c    3
dtype: int64

In [38]:
# dict to series index
import pandas as pd

list_data = ['2019-01,02',3.14,'ABC',100,True]
sr = pd.Series(list_data)
print(sr)
print()

idx = sr.index
val = sr.values
print(idx)
print()
print(val)

0    2019-01,02
1          3.14
2           ABC
3           100
4          True
dtype: object

RangeIndex(start=0, stop=5, step=1)

['2019-01,02' 3.14 'ABC' 100 True]

In [39]:
##pd.Series() 사용 예시: tuple to series
import pandas as pd

tup_data = ('정인','2010-05-01','남',True)
sr = pd.Series(tup_data,index=['이름','생년월일','성별','학생여부'])
print(sr)
print()

이름              정인
생년월일    2010-05-01
성별               남
학생여부          True
dtype: object

In [40]:
#튜플->시리즈 인덱싱_원소 한 개 선택
print(sr[0])
print(sr['이름'])
print()

정인
정인

In [41]:
#튜플->시리즈 인덱싱_원소 여러 개 선택 
print(sr[[1,2]])  #-> 인덱싱 안에 리스트 대괄호 한 번 더 묶어줘야 함
print()
print(sr[['생년월일','성별']])
print()

생년월일    2010-05-01
성별               남
dtype: object

생년월일    2010-05-01
성별               남
dtype: object

In [42]:
# 인덱스 슬라이싱 가능
print(sr[1:2])  #-> 인덱싱 안에 리스트 대괄호 한 번 더 묶어줘야 함
print()
print(sr['생년월일':'성별'])
print()

생년월일    2010-05-01
dtype: object

생년월일    2010-05-01
성별               남
dtype: object

## 데이터프레임 DataFrame

#### 데이터프레임 생성

In [43]:
# pd.DataFrame(): dict to DataFrame
# 데이터프레임은 여러 개의 시리즈(=열로 들어감)의 집합이라고 볼 수 있다

import pandas as pd

dict_data = {'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}
df = pd.DataFrame(dict_data)

print(type(df))
print()
print(df)

<class 'pandas.core.frame.DataFrame'>

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [44]:
# pd.DataFrame(): list to DataFrame

import pandas as pd

df = pd.DataFrame([[15,'남','덕영중'],[17,'여','수리중']],index = ['준서','예은'],columns = ['나이','성별','학교'])

print(df)
print()
print(df.index)
print()
print(df.columns)
print()

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

Index(['준서', '예은'], dtype='object')

Index(['나이', '성별', '학교'], dtype='object')

In [45]:
# .index 함수와 .columns 함수 -> 리스트 형태로 값을 넣어 인덱스와 칼럼을 지정할 수 있음
df.index=['학생1','학생2']
df.columns=['연령','남녀','소속']

print(df)
print()
print(df.index)
print()
print(df.columns)
print()

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

Index(['학생1', '학생2'], dtype='object')

Index(['연령', '남녀', '소속'], dtype='object')

In [46]:
# pd.DataFrame(): list to DataFrame *index나 columns 이름 안 정하면 그냥 숫자로 들어감

import pandas as pd

df = pd.DataFrame([[15,'남','덕영중'],[17,'여','수리중']],columns = ['나이','성별','학교'])

print(df)
print()
print(df.index)
print()
print(df.columns)
print()

   나이 성별   학교
0  15  남  덕영중
1  17  여  수리중

RangeIndex(start=0, stop=2, step=1)

Index(['나이', '성별', '학교'], dtype='object')

#### 데이터프레임 수정

In [47]:
# .rename(index={기존값:변경하려는값},inplace=True) : 인덱스나 칼럼 값 변경하는 방법 22

import pandas as pd

df = pd.DataFrame([[15,'남','덕영중'],[17,'여','수리중']],index = ['준서','예은'],columns = ['나이','성별','학교'])

df.rename(columns={'나이':'연령','성별':'남녀','학교':'소속'},inplace=True)
df.rename(index= {'준서':'학생1','예은':'학생2'},inplace=True)
df

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

In [48]:
# remove row

import pandas as pd

exam_data = {'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]}
df = pd.DataFrame(exam_data, index = ['서준','우현','인아'])
print(df)
print()

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [49]:
#.drop()
# 행 하나 삭제
df2 = df.copy()

df2.drop('우현',axis = 0, inplace = True)   #주로 axis = 0은 row, axis=1은 column를 의미
print(df2)
print('\n')

#행 두 개 이상 삭제 -> 삭제하려는 row 인덱스에 [] 필요
df3 = df.copy()
df3.drop(['우현','인아'],axis=0,inplace=True)  
print(df3)

# inplace = True의 의미: 원본을 바로 고칠 것인지(True), 원본을 두고 고친 데이터를 따로 줄 것인지(False)
# false의 경우 새로운 변수에 고친 데이터를 새로이 담아줘야 한다.

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90


    수학  영어  음악   체육
서준  90  98  85  100

In [50]:
# loc / iloc :행 선택

import pandas as pd

exam_data = {'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]}
df = pd.DataFrame(exam_data, index = ['서준','우현','인아'])
print(df)
print()

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [51]:
# loc / iloc :행 선택
label1 = df.loc['서준'] #loc 인덱서 활용
position1 = df.iloc[1] #iloc 인덱서 활용

print(label1)
print()
print(position1)
print()

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

수학    80
영어    89
음악    95
체육    90
Name: 우현, dtype: int64

In [52]:
# 행 인덱서를 활용해서 2개 이상의 행 선택
label2 = df.loc[['서준','우현']]
position2 = df.iloc[0,1]
print(label2)
print()
print(position2)

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

98

In [53]:
# 행 인덱스의 범위를 지정하여 행 선택
label3 = df.loc['서준':'인아']
position3 = df.iloc[0:2]
print(label3)
print()
print(position3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

In [54]:
# select columns:

import pandas as pd

exam_data = {'이름':['서준','우현','인아'],'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]}
df=pd.DataFrame(exam_data)
print(df)
print(type(df))
print('\n')

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
<class 'pandas.core.frame.DataFrame'>

In [55]:
math1 = df['수학']
print(math1)
print(type(math1))
print('\n')

0    90
1    80
2    70
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>

In [56]:
english = df['영어']
print(english)
print(type(english))
print('\n')

0    98
1    89
2    95
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>

### 엘리먼트 선택하기, loc과 iloc을 활용해서 위치 지정

In [57]:
# select element

import pandas as pd

exam_data = {'이름':['서준','우현','인아'],'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]}
df=pd.DataFrame(exam_data)
# df.set_index('이름',inplace=True)   #'이름'에 매칭되는 리스트를 인덱스로 쓰겠다는 뜻 + inplace=True이므로 원본에 덮어쓰기
print(df)
print(type(df))
print('\n')

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
<class 'pandas.core.frame.DataFrame'>

In [58]:
# .set_index 함수(index로 쓰려는 칼럼),inplace=) : 인덱스로 쓰려는 리스트 또는 칼럼 지정하기
df.set_index('이름',inplace=True)
a = df.loc['서준','음악']
print(a)

b = df.iloc[0,2]
print(b)

85
85

In [59]:
#범위로 원하는 행과 열만 뽑아내기
c = df.loc['서준',['음악','체육']]
print(c)

d = df.iloc[0,[0,3]]
print(d)

print()
e = df.loc['서준','음악':'체육']
print(e)

f = df.iloc[0,0:3]
print(f)

음악     85
체육    100
Name: 서준, dtype: int64
수학     90
체육    100
Name: 서준, dtype: int64

음악     85
체육    100
Name: 서준, dtype: int64
수학    90
영어    98
음악    85
Name: 서준, dtype: int64

In [60]:
#범위로 원하는 행과 열만 뽑아내기
g = df.loc[['서준','우현'],['음악','체육']]  #쉼표로 뽑아낼 때는 리스트로 묶어서 하기
print(g)

h = df.iloc[[0,1],[0,3]]
print(h)

print()
i = df.loc['서준':'우현','음악':'체육']
print(i)

j = df.iloc[0:2,2:]
print(j)

    음악   체육
이름
서준  85  100
우현  95   90
    수학   체육
이름
서준  90  100
우현  80   90

    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90

### 데이터 추가 및 수정

In [61]:
# 데이터 추가 *칼럼 추가 놓침

import pandas as pd
exam_data = {'이름':['서준','우현','인아'],'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]}
df = pd.DataFrame(exam_data)
print(df)

# df['국어']=[80,80,80,0]
# print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [62]:
# row 추가

df.loc[10] = 0
print(df)

    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   90
2   인아  70  95  100   90
10   0   0   0    0    0

In [65]:
# row 추가 2

df.loc[4][:] = ['동규',90,100,70,50,90]
print(df)

/var/folders/y6/tjfrq8vj411cyf6zll2ppq_w0000gn/T/ipykernel_5679/1300101774.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[4][:] = ['동규',90,100,70,50,90]

ValueError: cannot set using a slice indexer with a different length than the value

##### 데이터프레임 엘리먼트 수정하기 -> loc이랑 iloc을 활용해서 요소 위치 지정해준 후 재할당

In [66]:
# modify dataframe element

exam_data = {'이름':['서준','우현','인아'],'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]}
df = pd.DataFrame(exam_data)

df.set_index('이름',inplace=True)
print(df)
print()

df.iloc[0][3] = 80
print(df)
print()

df.loc['서준','체육'] = 100
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악  체육
이름
서준  90  98   85  80
우현  80  89   95  90
인아  70  95  100  90

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [67]:
# 미니 실험_ iloc 더 써보기

df2 = df.copy()
print(df2)
df2.iloc[1][3]= 80  #iloc = 숫자로, [n][N] -> n번째 행의 n번째 열에 있는 데이터를 고르겠다.
print(df2)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   80
인아  70  95  100   90

In [68]:
df.loc['서준',['음악','체육']] = 60
print(df)

df.loc['서준',['음악','체육']]=100,50
print(df)

    수학  영어   음악  체육
이름
서준  90  98   60  60
우현  80  89   95  90
인아  70  95  100  90
    수학  영어   음악  체육
이름
서준  90  98  100  50
우현  80  89   95  90
인아  70  95  100  90

##### transpose : 행과 열을 뒤바꾸기

In [69]:
import pandas as pd

exam_data = {'이름':['서준','우현','인아'],'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]}
df = pd.DataFrame(exam_data)

print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [70]:
# 방법 1 : .transpose()

df = df.transpose()
print(df)

      0   1    2
이름   서준  우현   인아
수학   90  80   70
영어   98  89   95
음악   85  95  100
체육  100  90   90

In [71]:
# 방법 2 : .T

df = df.T
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

### 인덱스

##### .set_index

In [72]:
import pandas as pd

exam_data = {'이름':['서준','우현','인아'],'수학':[90,80,70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]}
df = pd.DataFrame(exam_data)

print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [73]:
ndf = df.set_index(['이름'])
print(ndf)
print()

ndf2 = ndf.set_index('음악')
print(ndf2)
print()

ndf3 = ndf.set_index(['수학','음악'])
print(ndf3)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

     수학  영어   체육
음악
85   90  98  100
95   80  89   90
100  70  95   90

        영어   체육
수학 음악
90 85   98  100
80 95   89   90
70 100  95   90

##### .reindex() : 인덱스를 재설정 (칼럼 추가 없이 가능)

In [74]:
import pandas as pd
dict_data = {'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}

df = pd.DataFrame(dict_data, index = ['r0','r1','r2'])
print(df)
print()

#인덱스를 재지정
new_index = ['r0','r1','r2','r3','r4']
ndf = df.reindex(new_index)
print(ndf)
print()

#reindex로 발생한 NaN 값에 숫자 0으로 채우기
new_index = ['r0','r1','r2','r3','r4']
ndf2 = df.reindex(new_index,fill_value=0)
print(ndf2)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0

##### sorting

In [75]:
ndf = df.sort_index(ascending=False)
print(ndf)

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

In [76]:
ndf2 = df.sort_values(by='c1',ascending=False)
print(ndf2)

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

##### .reset_index()

In [77]:
# .reset_index() : 먼가 우겨넣었던 인덱스값을 다시 0으로 시작하는 정수형 기본으로 리셋함. 다만 우겨넣었던 인덱스값은 새로운 칼럼으로 추가됨
ndf = df.reset_index()
print(ndf)

  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15

In [78]:
import pandas as pd
student1 = pd.Series({'국어':100,'영어':100,'수학':90})
print(student1)
print()

percentage = student1 / 200

print(percentage)
print()
print(type(percentage))

국어    100
영어    100
수학     90
dtype: int64

국어    0.50
영어    0.50
수학    0.45
dtype: float64

<class 'pandas.core.series.Series'>

### 연산

In [79]:
import pandas as pd
student1 = pd.Series({'국어':100,'영어':80,'수학':90})
student2 = pd.Series({'수학':80,'국어':90,'영어':80})

print(student1)
print()
print(student2)
print()

국어    100
영어     80
수학     90
dtype: int64

수학    80
국어    90
영어    80
dtype: int64

In [80]:
# 과목별 사칙연산

addition = student1 + student2
subtraction = student1 - student2
multiplation = student1 * student2
division = student1 / student2

print(type(division))
print()

<class 'pandas.core.series.Series'>

In [81]:
result = pd.DataFrame([addition,subtraction,multiplation,division],index=['덧셈','뺄셈','곱셉','나눗셈'])

print(result)

              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄셈     10.000000    10.000     0.0
곱셉   9000.000000  7200.000  6400.0
나눗셈     1.111111     1.125     1.0

In [82]:
import pandas as pd
import numpy as np

student1 = pd.Series({'국어':np.nan,'영어':80,'수학':90})
student2 = pd.Series({'수학':80,'국어':90,'영어':80})

print(student1)
print()
print(student2)
print()


addition = student1 + student2
subtraction = student1 - student2
multiplation = student1 * student2
division = student1 / student2

print(type(division))
print()

result = pd.DataFrame([addition,subtraction,multiplation,division],index=['덧셈','뺄셈','곱셉','나눗셈'])

print(result)

국어     NaN
영어    80.0
수학    90.0
dtype: float64

수학    80
국어    90
영어    80
dtype: int64

<class 'pandas.core.series.Series'>

     국어        수학      영어
덧셈  NaN   170.000   160.0
뺄셈  NaN    10.000     0.0
곱셉  NaN  7200.000  6400.0
나눗셈 NaN     1.125     1.0

In [83]:
import pandas as pd
import numpy as np

student1 = pd.Series({'국어':np.nan,'영어':80,'수학':90})
student2 = pd.Series({'수학':80,'국어':90,'영어':80})

print(student1)
print()
print(student2)
print()


sr_add = student1.add(student2, fill_value=0)
sr_sub = student1.sub(student2, fill_value=0)
sr_mul = student1.mul(student2, fill_value=0)
sr_div = student1.div(student2, fill_value=0)


result = pd.DataFrame([addition,subtraction,multiplation,division],index=['덧셈','뺄셈','곱셉','나눗셈'])

print(result)

국어     NaN
영어    80.0
수학    90.0
dtype: float64

수학    80
국어    90
영어    80
dtype: int64

     국어        수학      영어
덧셈  NaN   170.000   160.0
뺄셈  NaN    10.000     0.0
곱셉  NaN  7200.000  6400.0
나눗셈 NaN     1.125     1.0

# 11월 17일

# 파일 처리 with pandas

## 파일 읽기

### read csv

In [ ]:
import pandas as pd

file_path = './00.data/data_1/read_csv_sample.csv'
df1 = pd.read_csv(file_path)
print(df1)
print('\n')

In [ ]:
import pandas as pd

file_path = './00.data/data_1/read_csv_sample.csv'
df1 = pd.read_csv(file_path,header=None)
print(df1)
print('\n')

In [ ]:
import pandas as pd

file_path = './00.data/data_1/read_csv_sample.csv'
df1 = pd.read_csv(file_path,index_col=None)
print(df1)
print('\n')

In [ ]:
import pandas as pd

file_path = './00.data/data_1/read_csv_sample.csv'
df1 = pd.read_csv(file_path,index_col='c0')
print(df1)
print('\n')

### read excel

In [ ]:
import pandas as pd

df1 = pd.read_excel('./00.data/data_1/남북한발전전력량.xlsx') #engine='openpyxl'
df2 = pd.read_excel('./00.data/data_1/남북한발전전력량.xlsx',header=None)
print(df1)

### read json

In [ ]:
import pandas as pd

df = pd.read_json('./00.data/data_1/read_json_sample.json')
print(df)
print('\n')
print(df.index)

### read html

In [ ]:
url = './00.data/data_1/sample.html'

tables = pd.read_html(url)
print(tables)
print('\n')
print('\n')
print()
print(len(tables))
for i in range(len(tables)):
    print("tables[%s]" % i)
    print(tables[i])
    print()

In [ ]:
df = tables[1]
df

In [ ]:
df3 = tables[0]
df3

In [ ]:
df.set_index(['name'],inplace=True)
print(df)

## 저장하기

### to_csv

In [84]:
import pandas as pd
data = {'name': ['Jerry','Riah','Paul'],'algol':['A','A+','B'],'basic':['C','B','B+'],'c++':['B+','C','C+']}

df = pd.DataFrame(data)
df.set_index('name',inplace = True)
print(df)

df.to_csv('./00.data/data_1_output/df_sample.csv')

      algol basic c++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

### to_json

In [85]:
df.to_json('./00.data/data_1_output/df_sample.json')

### to_excel

In [86]:
df.to_excel('./00.data/data_1_output/df_sample.xlsx')

In [87]:
# 여러 개의 시트로 저장하기

data = {'name': ['Jerry','Riah','Paul'],'algol':['A','A+','B'],'basic':['C','B','B+'],'c++':['B+','C','C+']}
data2 = {'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}

df1 = pd.DataFrame(data)
df1.set_index('name', inplace=True)
print(df1)
print()

df2 = pd.DataFrame(data2)
df2.set_index('c0',inplace=True)
print(df2)
print()

writer = pd.ExcelWriter("./00.data/data_1_output/df_excelwriter.xlsx")
df1.to_excel(writer, sheet_name='sheet1')
df2.to_excel(writer, sheet_name='sheet2')
writer.close()

      algol basic c++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

    c1  c2  c3  c4
c0
1    4   7  10  13
2    5   8  11  14
3    6   9  12  15

# 데이터 살펴보기

In [88]:
import pandas as pd

auto_mpg = pd.read_csv('./00.data/data_1/auto-mpg.csv',header = None)

auto_mpg.columns = ['mpg','cylinders','displacement','horsepower','weight','acceleration','model year','origin','name']

In [89]:
# .head(n) : 데이터를 위에서부터 n개 출력하기

print(auto_mpg.head(5))
# print(auto_mpg.tail)
# auto_mpg

    mpg  cylinders  displacement horsepower  weight  acceleration  model year  \
0  18.0          8         307.0      130.0  3504.0          12.0          70
1  15.0          8         350.0      165.0  3693.0          11.5          70
2  18.0          8         318.0      150.0  3436.0          11.0          70
3  16.0          8         304.0      150.0  3433.0          12.0          70
4  17.0          8         302.0      140.0  3449.0          10.5          70

   origin                       name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino

In [90]:
# .tail(n) : 데이터를 아래서부터 n개 추출하기

print(auto_mpg.tail(5))

      mpg  cylinders  displacement horsepower  weight  acceleration  \
393  27.0          4         140.0      86.00  2790.0          15.6
394  44.0          4          97.0      52.00  2130.0          24.6
395  32.0          4         135.0      84.00  2295.0          11.6
396  28.0          4         120.0      79.00  2625.0          18.6
397  31.0          4         119.0      82.00  2720.0          19.4

     model year  origin             name
393          82       1  ford mustang gl
394          82       2        vw pickup
395          82       1    dodge rampage
396          82       1      ford ranger
397          82       1       chevy s-10

In [91]:
# 데이터프레임.dtypes: 데이터프레임 자료형 확인

print(auto_mpg.dtypes)

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight          float64
acceleration    float64
model year        int64
origin            int64
name             object
dtype: object

In [92]:
# 데이터프레임.칼럼이름.dtypes : 특정 시리즈(=열=칼럼)의 데이터타입 확인
print(auto_mpg.mpg.dtypes)

float64

In [93]:
# .info(): 데이터프레임의 기본정보 요약

print(auto_mpg.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB
None

In [94]:
# .describe() : 데이터프레임의 기술통계 정보 확인(디폴트로 산술 온리)
print(auto_mpg.describe())

              mpg   cylinders  displacement       weight  acceleration  \
count  398.000000  398.000000    398.000000   398.000000    398.000000
mean    23.514573    5.454774    193.425879  2970.424623     15.568090
std      7.815984    1.701004    104.269838   846.841774      2.757689
min      9.000000    3.000000     68.000000  1613.000000      8.000000
25%     17.500000    4.000000    104.250000  2223.750000     13.825000
50%     23.000000    4.000000    148.500000  2803.500000     15.500000
75%     29.000000    8.000000    262.000000  3608.000000     17.175000
max     46.600000    8.000000    455.000000  5140.000000     24.800000

       model year      origin
count  398.000000  398.000000
mean    76.010050    1.572864
std      3.697627    0.802055
min     70.000000    1.000000
25%     73.000000    1.000000
50%     76.000000    1.000000
75%     79.000000    2.000000
max     82.000000    3.000000

In [95]:
# 데이터프레임의 기술통계 정보 확인 2 : string data 포함
# unique(고유값)
# #top(최빈값) : 가장 많은 빈도수를 갖는 변수(값)
# freq(빈도) : top에 해당하는 변수의 빈도수(숫자)


print(auto_mpg.describe(include='all'))

               mpg   cylinders  displacement horsepower       weight  \
count   398.000000  398.000000    398.000000        398   398.000000
unique         NaN         NaN           NaN         94          NaN
top            NaN         NaN           NaN      150.0          NaN
freq           NaN         NaN           NaN         22          NaN
mean     23.514573    5.454774    193.425879        NaN  2970.424623
std       7.815984    1.701004    104.269838        NaN   846.841774
min       9.000000    3.000000     68.000000        NaN  1613.000000
25%      17.500000    4.000000    104.250000        NaN  2223.750000
50%      23.000000    4.000000    148.500000        NaN  2803.500000
75%      29.000000    8.000000    262.000000        NaN  3608.000000
max      46.600000    8.000000    455.000000        NaN  5140.000000

        acceleration  model year      origin        name
count     398.000000  398.000000  398.000000         398
unique           NaN         NaN         NaN         305
top              NaN         NaN         NaN  ford pinto
freq             NaN         NaN         NaN           6
mean       15.568090   76.010050    1.572864         NaN
std         2.757689    3.697627    0.802055         NaN
min         8.000000   70.000000    1.000000         NaN
25%        13.825000   73.000000    1.000000         NaN
50%        15.500000   76.000000    1.000000         NaN
75%        17.175000   79.000000    2.000000         NaN
max        24.800000   82.000000    3.000000         NaN

In [96]:
# 칼럼에 속한 데이터 수 확인하기
print(auto_mpg.count())

mpg             398
cylinders       398
displacement    398
horsepower      398
weight          398
acceleration    398
model year      398
origin          398
name            398
dtype: int64

In [97]:
unique_values = auto_mpg['origin'].value_counts()
print(unique_values)
print()
print(type(unique_values))

origin
1    249
3     79
2     70
Name: count, dtype: int64

<class 'pandas.core.series.Series'>

In [98]:
# 평균값 추출

# print(auto_mpg.mean())
print()
print(auto_mpg['mpg'].mean())
print(auto_mpg.mpg.mean())
print()
print(auto_mpg[['mpg','weight']].mean())

23.514572864321607
23.514572864321607

mpg         23.514573
weight    2970.424623
dtype: float64

# 숫자 버전에 문제 있어서 median이랑 mean이랑 상관계수 계산에 문제 생겼었음

In [5]:

import pandas as pd

auto_mpg = pd.read_csv('./00.data/data_1/auto-mpg.csv',header = None)
auto_mpg.columns = ['mpg','cylinders','displacement','horsepower','weight','acceleration','model year','origin','name']

# 데이터들 중 문자열의 경우 산술통계 대표값들을 산정할 때 오류를 일으켜서 데이터의 모든 값들을 숫자로 변환함
# auto_mpg = auto_mpg.apply(pd.to_numeric, errors = 'coerce')


# 중간값
print(auto_mpg.median())
print()
print(auto_mpg['mpg'].median())

#최댓값
print(auto_mpg.max())
print()
print(auto_mpg['mpg'].max())

TypeError: could not convert string to float: '?'

In [100]:
# 최소값
print(auto_mpg.min())
print()
print(auto_mpg['mpg'].min())

mpg                9.0
cylinders          3.0
displacement      68.0
horsepower        46.0
weight          1613.0
acceleration       8.0
model year        70.0
origin             1.0
name               NaN
dtype: float64

9.0

In [101]:
# 상관계수
print(auto_mpg.corr())

print()
print(auto_mpg[['mpg','weight']].corr())

                   mpg  cylinders  displacement  horsepower    weight  \
mpg           1.000000  -0.775396     -0.804203   -0.778427 -0.831741
cylinders    -0.775396   1.000000      0.950721    0.842983  0.896017
displacement -0.804203   0.950721      1.000000    0.897257  0.932824
horsepower   -0.778427   0.842983      0.897257    1.000000  0.864538
weight       -0.831741   0.896017      0.932824    0.864538  1.000000
acceleration  0.420289  -0.505419     -0.543684   -0.689196 -0.417457
model year    0.579267  -0.348746     -0.370164   -0.416361 -0.306564
origin        0.563450  -0.562543     -0.609409   -0.455171 -0.581024
name               NaN        NaN           NaN         NaN       NaN

              acceleration  model year    origin  name
mpg               0.420289    0.579267  0.563450   NaN
cylinders        -0.505419   -0.348746 -0.562543   NaN
displacement     -0.543684   -0.370164 -0.609409   NaN
horsepower       -0.689196   -0.416361 -0.455171   NaN
weight           -0.417457   -0.306564 -0.581024   NaN
acceleration      1.000000    0.288137  0.205873   NaN
model year        0.288137    1.000000  0.180662   NaN
origin            0.205873    0.180662  1.000000   NaN
name                   NaN         NaN       NaN   NaN

             mpg    weight
mpg     1.000000 -0.831741
weight -0.831741  1.000000

# pyplot : 판다스로 그래프 시각화하기

## 시각화 전 데이터 일부만 추출해오기

In [ ]:
import pandas as pd
df = pd.read_excel('./00.data/data_1/남북한발전전력량.xlsx') #engine='openpyxl'

df_north = df.iloc[[0,5],2:]  # 위치 지정함수를 통해서 데이터 가져오기
df_north.index=['South','North'] #인덱스 이름 재지정 .index = []
df_north

In [ ]:
# 데이터프레임이름.수정할범위(칼럼 혹은 테이블).map(데이터타입) 함수 : 수정할 범위의 데이터 타입을 변경함
df_north.columns = df_north.columns.map(int)
df_north.columns

## 본격적인 시각화

In [ ]:
# 선 그래프 그리기
df_north.plot()

In [ ]:
# .T 함수: 행, 열 전치하여 다시 그리기
tdf_ns = df_north.T
print(tdf_ns.head())
print()
tdf_ns.plot()

In [ ]:
tdf_ns.plot(kind='bar')

In [ ]:
tdf_ns['South'] = pd.to_numeric(tdf_ns['South'])
tdf_ns['North'] = pd.to_numeric(tdf_ns['North'])

tdf_ns.plot(kind='hist')

In [ ]:
#판다스로 산포도 그래프 그리기

import pandas as pd

auto_mpg = pd.read_csv('./00.data/data_1/auto-mpg.csv',header = None)
auto_mpg.columns = ['mpg','cylinders','displacement','horsepower','weight','acceleration','model year','origin','name']

auto_mpg.plot(x='weight',y='mpg',kind='scatter',color='darkseagreen')

In [ ]:
auto_mpg[['mpg','cylinders']].plot(kind='box')