### 숫자형

In [1]:
a = 3
b = 7.0
print(a+b)

10.0

### 문자형 - Read only

In [2]:
"Hello"
'Hello'
"""Hello"""  # <- 이 친구는 명령어 파라미터로도 쓸 수 있다
'''Hello'''

'Hello'

In [3]:
food = "python's"
food

"python's"

In [4]:
food = 'python"s'
food

'python"s'

In [5]:
#오류 사례 - 따옴표 안에 따옴표를 또 써서 충돌하는 경우
food = "python"s"
food

SyntaxError: unterminated string literal (detected at line 2) (1867221556.py, line 2)

In [1]:
#위의 오류 고치기 - \(역슬래시) + 따옴표 -> 문자열 기호랑 중복이어도 무시하게 만들어줌
food ="python\"s"
food

'python"s'

In [28]:
#역슬래시 응용 예시 ---- 이스케이프 코드 (\ + 문자) : \n -> 엔터처럼 한 줄 띄워줌
#\t == 탭
multiline = "Life is \n You need"
print(multiline)

Life is
 You need

In [31]:
#이스케이프 코드 없이 엔터처리 하고 싶으면 -> 문자열을 """ """ 또는 ''' '''로 표기
multiline = """Life is
You need"""
print(multiline)

Life is
You need

*문자열 연산

In [27]:
head = 'python'
tail = ' is fun!'
head + tail

'python is fun!'

In [28]:
a = 'python'
a*2

'pythonpython'

In [29]:
print("-" * 50)

--------------------------------------------------

*문자열 인덱싱

In [30]:
#문자열 길이 확인
a = "Life is too short"
len(a)

17

In [31]:
a = "Life is too short, You need Python"
a[0], a[12],a[-1],a[-0],a[-2],a[-5]

('L', 's', 'n', 'L', 'o', 'y')

*문자열 슬라이싱

In [32]:
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [33]:
a = "Life is too short, You need Python"
a[12:17]

'short'

In [34]:
a = "Life is too short, You need Python"
a[19:-7]

'You need'

In [35]:
c = "20230331Rainy"
year = c[0:4]
day = c[6:8]
weather = c[-5:]
year,day,weather

('2023', '31', 'Rainy')

pithon을 python으로 바꾸기

In [36]:
#실패 사례
a = "pithon"
a[1] = "y"

TypeError: 'str' object does not support item assignment

In [37]:
#맞는 방법 - 스트링은 수정할 수 없기 때문에 틀린 부분 앞뒤로 자르고 틀린 부분 바꿔 넣어서 수정해야함
a = "pithon"
a = a[:1] + 'y' + a[2:]
a

'python'

**문자열 포매팅

방법 1 : 포맷코드 %

방법 2: .format() 함수 쓰기

방법 3: f string(python version 3.6 이상부터 지원)

In [38]:
#넣으려는 데이터 타입이 숫자일 때 -> %d (digit)
"I eat %d apples." %3

'I eat 3 apples.'

In [132]:
#넣으려는 데이터 타입이 문자일 때 -> %s (string) *원칙적으로 string이지만 데이터 타입에 상관 없이 다 쓸 수 있음, 변수도 가능
"I eat %s apples." %"five"

'I eat five apples.'

In [40]:
# 포맷코드 %를 for 반복문에 응용하기 - 나

for x in range(1,6):
    sentence = 'I eat %s apples.' %x
    print(sentence)

I eat 1 apples.
I eat 2 apples.
I eat 3 apples.
I eat 4 apples.
I eat 5 apples.

In [41]:
# 포맷코드 %를 for 반복문에 응용하기 - 교수님
for x in range(1,6):
    print('I eat %s apples.' %x)

I eat 1 apples.
I eat 2 apples.
I eat 3 apples.
I eat 4 apples.
I eat 5 apples.

In [42]:
# 포맷코드 %를 여러 개 사용하기
number = 10
day = "three"
'I ate %d apples. so i was sick for %s days' % (number,day)

'I ate 10 apples. so i was sick for three days'

In [43]:
# 포맷코드 %와 일반문자 %를 같이 쓰기 - error
'error is %d%' %98

ValueError: incomplete format

In [452]:
# 포맷코드 %와 일반문자 %를 같이 쓰기 - 옳은 예시 -> 이건 거의 모든 문자랑 원리가 같음
'error is %d%%' %98

'error is 98%'

In [45]:
#정렬과 공백 - 오른쪽 정렬
"%10s" % "hi"

'        hi'

In [46]:
#정렬과 공백 - 왼쪽 정렬
"%-10s" % 'hi'

'hi        '

In [47]:
#실수(float) 표현하기 - 소수점 아래 자릿수까지 자르기
"%.4f" % 3.4245234

'3.4245'

In [40]:
# "%n.Nf" -> 총 n칸 안에서 소수점 아래가 N자리인 실수 표현하기
"%0.4f" % 3.4245234

'3.4245'

In [39]:
"%7.4f" % 3.4245234

' 3.4245'

In [49]:
#실수(float) 표현하기 - 소수점 아래 자릿수까지 자르기 + 앞에 공백 넣기
"%10.4f" % 3.4245234

'    3.4245'

In [50]:
"%100.4f" % 3.4245234

'                                                                                              3.4245'

방법 2: format() 함수 쓰기

In [51]:
'I eat {0} apples.'.format(3)

'I eat 3 apples.'

In [52]:
'I eat {0} apples and {1} oranges.'.format(3,4)

'I eat 3 apples and 4 oranges.'

In [53]:
'I eat {0} apples.'.format("five")

'I eat five apples.'

In [54]:
number = 6
'I eat {0} apples.'.format(number)

'I eat 6 apples.'

In [55]:
for x in range(1,6):
    print('I eat {} apples'.format(x))

I eat 1 apples
I eat 2 apples
I eat 3 apples
I eat 4 apples
I eat 5 apples

In [56]:
number = 3
day = "three"
'I ate {0} apples so i was sick for {1} days'.format(number,day)

'I ate 3 apples so i was sick for three days'

In [57]:
'I ate {number} apples so i was sick for {day} days'.format(number=10,day=3)

'I ate 10 apples so i was sick for 3 days'

In [58]:
sena = 'I ate {0} apples so i was sick for {day} days'.format(number,day=3)
senb = 'I ate {0} apples so i was sick for {day} days'.format(2,day=3)
print(sena)
print(senb)

I ate 3 apples so i was sick for 3 days
I ate 2 apples so i was sick for 3 days

In [453]:
#format함수 정렬 - 문자열 포함 10칸 안에 오른쪽 정렬
"{0:>10}".format("hi")

'        hi'

In [60]:
#format함수 정렬 - 문자열 포함 10칸 안에 왼쪽 정렬
"{0:<10}".format("hi")

'hi        '

In [61]:
#format함수 정렬 - 문자열 포함 10칸 안에 중간 정렬
"{0:^10}".format("hi")

'    hi    '

In [62]:
#format함수 정렬 - 문자열 포함 10칸 안에 오른쪽정렬 + 앞에 공백들을 =으로 채우기
"{0:=>10}".format("hi")

'========hi'

In [63]:
#format함수 정렬 - 문자열 포함 10칸 안에 왼쪽 정렬 + 공백들을 ^으로 채우기
"{0:^<10}".format("hi")

'hi^^^^^^^^'

In [64]:
y = 3.42145234
"{0:0.4f}".format(y)

'3.4215'

In [65]:
y = 3.42145234
"{0:0.4f}".format(y)

'3.4215'

In [66]:
"{{and}}".format()

'{and}'

방법 3: f string(python version 3.6 이상부터 지원) => f'{}' 응용

In [67]:
#문자형 앞에 f 붙여서 문장 안에 {}넣기 
name = "홍길동"
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [68]:
#문자형 앞에 f 붙여서 문장 안에 {}넣기 -> 연산 가능
name = "홍길동"
age = 30
f'나의 이름은 {name}입니다. 내년 나이는 {age+1}입니다.'

'나의 이름은 홍길동입니다. 내년 나이는 31입니다.'

In [69]:
#문자형 앞에 f 붙여서 문장 안에 {}넣기 -> 연산 가능
name = "홍길동"
age = 30
f'나의 이름은 {name}입니다. 내년 나이는 {age+1}입니다.'

'나의 이름은 홍길동입니다. 내년 나이는 31입니다.'

In [41]:
#딕셔너리 키 값을 변수화 시켜서 밸류 추출하기
d = {'name':'홍길동','age':30}

f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [71]:
f'{"hi":<10}'

'hi        '

In [72]:
f'{"hi":>10}'

'        hi'

In [73]:
f'{"hi":^10}'

'    hi    '

In [74]:
f'{"hi":=<10}'

'hi========'

In [75]:
y = 3.42134234
f'{y:0.4f}'

'3.4213'

문자열 관련 함수들

In [43]:
# .count : 문자 개수 세기
a = "hobby"
a.count('b')

2

In [44]:
# .find : 위치 알려주기 1
a = "Python is the best choice"
#찾으려는 게 있을 때
a.find('b')

14

In [78]:
#찾으려는 게 없을 때
a.find('k')

-1

In [79]:
# index: 위치 알려주기 2
a = 'Life is too short'
#찾으려는 게 있을 때
a.index('t')

8

In [134]:
#찾으려는 게 없을 때 <-> find랑 이 차이. 오류 내기 vs 안 내기
a.index('k')

ValueError: 'k' is not in list

In [454]:
# '사이에 넣을 것'join('문자열') : 문자열들 사이에 '사이에넣을것' 껴서 합쳐짐
'#'.join('abcd')

'a#b#c#d'

In [82]:
#대소문자 바꾸기
a = 'hi'
a.upper()

'HI'

In [83]:
a = 'HI'
a.lower()

'hi'

In [84]:
#lstrip : 왼쪽 공백 지우기
a = ' hi '
a.lstrip()

'hi '

In [85]:
#rstrip: 오른쪽 공백 지우기
a = ' hi '
a.rstrip()

' hi'

In [86]:
#strip: 양쪽 공백 지우기
a = ' hi '
a.strip()

'hi'

In [87]:
#replace : 문자열 바꾸기
a = "Life is too short"
a.replace("Life","Your leg")

'Your leg is too short'

In [135]:
#Split : 문자열 나누기 -> 결과는 리스트로 나옴
a = "Life is too short"
a.split()
# -> 공백 기준으로 나눔

['Life', 'is', 'too', 'short']

In [89]:
a = "Life is too short"
a.split('s')
# -> 문자 's' 기준으로 나눔, 그래서 공백도 같이 출력됨

['Life i', ' too ', 'hort']

In [90]:
b = "a:b:c:d"
b.split(':')
# -> 문자 ':' 기준으로 나눔

['a', 'b', 'c', 'd']

In [91]:
#주의사항 - 아래 라인이랑 비교해보기 (새로 할당 안 했을 때)
a = 'hi'
a.upper()
a

'hi'

In [45]:
#주의사항 - 함수 써서 변수 변환하고 새로 할당 했을 때
a = 'hi'  # <- 원본
a.upper() # <- 원본카피본
a = a.upper() # <- 원본에 원본카피본덮어쓰기
a # <- 수정된 원본

'HI'

In [577]:
# 이 차이는 무엇일까용???
a = 'hi'
print(a.upper())
a

HI

'hi'

# 리스트[ 대괄호]  *관련된 제어 함수가 많아서 관리하기 편함

### 인덱싱

In [93]:
a = [1,2,3]
a

[1, 2, 3]

In [94]:
a[0]

1

In [95]:
a[0] + a[2]

4

In [96]:
a[0] - a[2]

-2

In [97]:
a[-1]

3

In [457]:
a = [1,2,3,['a','b','c']]
a

[1, 2, 3, ['a', 'b', 'c']]

In [458]:
a[3]

['a', 'b', 'c']

In [459]:
a[-1]

['a', 'b', 'c']

슬라이싱

In [101]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [102]:
a[0:2]

[1, 2]

In [461]:
#응용 -> 다중리스트에서 자료 슬라이싱으로 뽑아내기 
a = [1,2,3,['a','b','c'],4,5]
a

[1, 2, 3, ['a', 'b', 'c'], 4, 5]

In [462]:
# 위 자료에서 'a','b'만 뽑기

a[3][0:2]

['a', 'b']

리스트 연산

In [19]:
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [20]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [21]:
len(a)

3

In [22]:
len(b)

3

In [23]:
len(a+b)

6

In [24]:
#실습 -> 에러 고치기 : 얘는 정수형 데이터랑 문자형 데이터라서 연산이 안 됨
a[2] + 'hi'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [25]:
str(a[2])+'hi'

'3hi'

In [26]:
#그냥해봄
a.append('hi')
a

[1, 2, 3, 'hi']

In [16]:
#그냥해봄22
c = str(a[2])+'hi'
d = list(c)
d

['3', 'h', 'i']

리스트 수정 삭제

In [112]:
a = [1,2,3]
a

[1, 2, 3]

In [113]:
#인덱스 자리 자료 수정하기
a[2] = 4
a

[1, 2, 4]

In [114]:
#리스트 인덱스 자리 기준으로 삭제하기
a = [1,2,3]
del a[1]
a

[1, 3]

In [115]:
#슬라이싱 활용해서 삭제하기
a = [1,2,3,4,5]
del a[2:]
a

[1, 2]

리스트 관련 함수

In [116]:
# .append() : 요소 추가 ** 리스트는 자리 수가 정해져있기 때문에 기존 자리 수를 넘어서도록 자료를 추가하려면 append 써야 함.
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [117]:
# .append() : 요소 추가 응용
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [46]:
a.append(5,6)
a

AttributeError: 'str' object has no attribute 'append'

In [139]:
a = [1,4,3,2]
a

[1, 4, 3, 2]

In [140]:
# .sort() : 내부 요소 >>>오름차순<<< 정렬
a.sort()
a

[1, 2, 3, 4]

In [120]:
# .reverse() : 자료 순서 아예 뒤집기
a= ['a','b','c']
a

['a', 'b', 'c']

In [121]:
a.reverse()
a

['c', 'b', 'a']

In [122]:
# .index(x): x라는 값의 인덱스 위치 반환 * x라는 값이 리스트 안에 없으면 에러 <- 변수[] 요렇게 아예 인덱스 부르는 거랑 헷갈리면 안 됨
a = [1,2,3]
a.index(3)

2

In [123]:
# .insert(n,x) : n번째 자리에 x값을 넣어라
a = [1,2,3]
a

[1, 2, 3]

In [124]:
a.insert(0,4)
a

[4, 1, 2, 3]

In [125]:
a.insert(3,5)
a

[4, 1, 2, 5, 3]

In [126]:
# .remove(x) : 자료에서 첫번째로 찾아지는 x값 지우기
a = [1,2,3,1,2,3]
a

[1, 2, 3, 1, 2, 3]

In [127]:
a.remove(3)
a
# -> 첫번째로 찾는 '3' 삭제하기

[1, 2, 1, 2, 3]

In [128]:
a.remove(3)
a
# -> 여전히 첫번째로 찾는 '3'삭제, 근데 아까 index 2 위치에 있던 3이 삭제되어 이번에는 index 4의 자리에 있던 3이 사라짐

[1, 2, 1, 2]

# 11월 2일

In [143]:
#type(): 어떤 변수의 데이터 타입을 알려주는 함수
type(a)

list

In [463]:
# .pop() 함수 : 가장 마지막에 넣은 데이터 추출
# .pop(인덱스넘버) : ''자리에 맞는 값 추출 + 리스트에서 삭제
a = [1,2,3]
a.pop(1)

2

In [474]:
a = [1,2,3]
a.pop()

#.pop() -> 아무것도 안 넣었는데 3이 나오는 이유 -> 노션 참고

3

In [145]:
# extend 함수 : 리스트 확장  = 리스트와 리스트 결합. <-> append(리스트에 요소 추가)
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [147]:
b = [6,7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

In [148]:
a += [9,5]
a

[1, 2, 3, 4, 5, 6, 7, 9, 5]

In [154]:
# extend 괄호 안에는 하나의 리스트만 들어가고, 해당 리스트의 요소들이 기존 리스트의 개별 요소로 들어가게 된다 -> 사례
a.extend([3,4,[6,8]])
a

[1, 2, 3, 4, 5, 6, 7, 9, 5, 3, 4, 3, 4, [6, 8], 3, 4, [6, 8]]

# 튜플 (소괄호)

In [428]:
#기본적인 튜플 구조 : 소괄호 + 쉼표로 요소 구분
t1 = ()
t2 = (1,2,'a','b')
t3 = (2,) # -> 자료가 하나인 튜플의 경우 쉼표를 꼭 넣어주어야 함 (자료,)

In [467]:
# 튜플 특징 1: 삭제 불가
del t2[0]
t2[0] = 'c'

TypeError: 'tuple' object doesn't support item deletion

In [468]:
# 튜플 특징 2: 수정 불가
t2[0] = 'c'

TypeError: 'tuple' object does not support item assignment

In [469]:
#튜플 특징 3: 인덱싱 가능
t2[0], t2[3]

(1, 'b')

In [471]:
#튜플 특징 4: 슬라이싱 가능
t2[0:2]

(1, 2)

In [475]:
#튜플 특징 5: 연산 가능_더하기 예시
t1 = (1,2,'a','b')
t2 = (3,4)
t3 = t1 + t2 #있던 튜플에 요소를 더해서 재할당한 게 아니라 새로운 튜플을 만들었기 때문에 연산 가능
t3

(1, 2, 'a', 'b', 3, 4)

In [476]:
#튜플 특징 6: 연산 가능_곱하기 예시 *가능한 이유 -> 위랑 같음
t4 = t2*4
t4

(3, 4, 3, 4, 3, 4, 3, 4)

In [177]:
#len 함수 사용 가능
len(t4)

8

#  딕셔너리 {중괄호}

In [487]:
#딕셔너리 기본 구조: {} 안에 키값:밸류값 **키값은 수정할 수 없는 값 (= 리스트는 키값으로 못 씀)
a = {1 : 'hi'} #키값 자리에 숫자형 O
a = {'a':[1,2,3]} #밸류값 자리에 리스트 O

In [493]:
#딕셔너리[키값] = [밸류값] : 딕셔너리에 값 추가
a[2] = 'b'

In [503]:
#딕셔너리[키값] = [밸류값] : 딕셔너리에 값 추가
a[4] = [1,2,3]
a

{'a': [1, 2, 3], 4: [1, 2, 3]}

In [505]:
#del a['키값']: 딕셔너리에서 '키값'으로 검색해서 이에 맞는 item 전체 삭제하기
a = {'a':[1,2,3]}
a[4] = [1,2,3]
del a[4]
a

{'a': [1, 2, 3]}

In [510]:
#아래 코드가 에러뜨는 이유 -> 'name'을 키로 갖고 있는 아이템이 이미 삭제됨
del a['name']
a

KeyError: 'name'

In [496]:
#검색 grade : grade[키값]: 검색한 키값에 대한 밸류 추출
grade = {'pey':10,'juliet':99}
grade['pey']

10

In [497]:
grade['juliet']

99

In [198]:
#주의사항 1: 키값은 유니크해야함. 중복 허용 X
a = {1:'a',1:'b'}
a

{1: 'b'}

In [199]:
#주의사항 2: 키는 수정 삭제가 안 되는 type이어야 함. -> 리스트 불가능
a = {[1,2]:'hi'}
a

TypeError: unhashable type: 'list'

In [204]:
#주의사항 2: 키는 수정 삭제가 안 되는 type이어야 함. -> 튜플 가능
a = {(1,2):'hi'}
a

{(1, 2): 'hi'}

In [209]:
# 딕셔너리에서 객체 return하기 *리스트처럼 보이지만 리스트는 아님
# -> .keys() .values() .items() 
a = {'name':'pey','phone':'010-9999-1234','birth':'1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [210]:
# .keys()로 나온 리턴값은 리스트가 아니기 때문에 리스트로 쓰려면 변환함수 list()써줘야 함
list(a.keys())

['name', 'phone', 'birth']

In [214]:
for x in a.keys():
    print(x)

name
phone
birth

In [215]:
#밸류 값 리턴하기
a.values()

dict_values(['pey', '010-9999-1234', '1118'])

In [216]:
#아이템 리턴하기
a.items()

dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])

In [217]:
# .clear()함수 -> 요소 다 지우기
a.clear()
a

{}

In [224]:
# .get()함수 -> 키값을 넣어 밸류 값 가져오기
a.get('name')

'pey'

In [231]:
# .get()함수 <-> print()에 딕셔너리인덱싱 넣기 비교하기
print(a['name'])

pey

In [232]:
print(a['nokey'])

KeyError: 'nokey'

In [234]:
# .get('검색할 키값',없는 경우 지정할 리턴값) 함수 응용: 만약 검색한 키가 딕셔너리 안에 없는 경우 리턴값 지정하기
a.get('nokey','없음')

'없음'

In [235]:
# .get('검색할 키값',없는 경우 지정할 리턴값) 함수 응용: 만약 검색한 키가 딕셔너리 안에 없는 경우 리턴값 지정하기
a.get('nokey',0)

0

In [228]:
# '키값 in 딕셔너리 이름: in 명령어를 써서 딕셔너리 안에 키 값이 있는지 찾아보기 -> 있는 경우
a = {'name':'pey','phone':'010-9999-1234','birth':'1118'}
'name' in a

True

In [229]:
#검색한 키값이 딕셔너리 안에 없는 경우
'nokey' in a

False

# 집합 자료형 Set { 중괄호 }
중복 허용 안함
순서 없음 <-> 딕셔너리는 쌍으로 요소가 들어가고 세트는 그런 거 없음

In [251]:
#set 기본 구조: set([리스트]) 또는 set((튜플))
s1 = set([1,2,3])
type(s1)

set

In [238]:
s1

{1, 2, 3}

In [246]:
#문자형을 세트로 지정했을 때 -> 문자 하나하나를 한 요소로 취급, 자동으로 중복 제거
s2 = set('Hello')
s2

{'H', 'e', 'l', 'o'}

In [241]:
s = set()

In [243]:
s1 = set([1,2,3])
l1 = list(s1)
l1

[1, 2, 3]

In [244]:
t1 = tuple(s1)
t1

(1, 2, 3)

##### 교집합 합집합 차집합

In [247]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

In [248]:
#교집합 1
s1 & s2

{4, 5, 6}

In [250]:
#교집합 2
s1.intersection(s2)

{4, 5, 6}

In [253]:
#합집합 1
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [255]:
#합집합 2
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [511]:
#차집합
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
s1 - s2

{1, 2, 3}

In [513]:
#차집합
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
s2 - s1

{7, 8, 9}

In [264]:
#차집합 2
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
s1.difference(s2)

{1, 2, 3}

In [265]:
#차집합 2 .difference()
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
s2.difference(s1)

{7, 8, 9}

## 집합 자료형 관련 함수

In [273]:
# .add() : 값 1개 추가
s1 = set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

In [271]:
# .update(): 값 여러 개 추가
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

In [272]:
# .remove() :값 제거
s1 = set([1,2,3])
s1.remove(2)
s1

{1, 3}

In [281]:
# .add() : 값 1개 추가 -> 추가할 때 데이터 타입은 기존 데이터 타입에 영향을 안 주나용?
s1 = set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

In [280]:
# .update(): 값 여러 개 추가
s1.update((4,5,6))
s1

{1, 2, 3, 4, 5, 6}

### bool 자료형

In [283]:
#기본 구조: 기본적으로 값이 있으면 True, 비어 있으면 False
bool('python')

True

In [284]:
bool('')

False

In [285]:
bool([1,2,3])

True

In [290]:
bool([])

False

In [291]:
bool(3)

True

In [292]:
bool(0)

False

⬆︎ 여기까지 bool()의 여러 가지 경우 ⬆︎

##### id 공유 이슈

In [552]:
# 변수 = 다른 변수로 할당했을 때 id공유 이슈 -> 그렇기 때문에 변수를 복사해서 써야 함
a = [1,2,3]
id(a)

4478247936

In [553]:
b = a
id(b)

4478247936

In [48]:
a is b # <- is : 메모리 위치를 기준으로 함 *밸류 값 기준이 아님

False

In [555]:
a[1] = 4
a

[1, 4, 3]

In [556]:
# b는 안건들였는데도 b라는 변수에 a 변수 자체를 할당해서 같이 바뀜
b

[1, 4, 3]

In [558]:
print(a)
print(b)
b is a

[1, 4, 3]
[1, 4, 3]

True

In [532]:
#변수 복제 1 - colon : 쓰기
a = [1,2,3]
b = a[:]
a[1] = 4 #변수 b에 변수 a를 복사해서 붙여넣기 했기 때문에 a의 데이터를 그대로 가져오긴 했으나 같은 id를 공유하지 않기 때문에 a를 수정해도 b는 변하지 않는다
a

[1, 4, 3]

In [533]:
b

[1, 2, 3]

In [531]:
a is b

False

In [528]:
#변수 복제 2 : Copy 모듈 이용하기 *'copy'라는 모듈 안에 'copy'라는 함수 있음
from copy import copy

a = [1,2,3]
b = copy(a)

In [546]:
print(a)
print(b)
b is a

[1, 2, 3]
[1, 2, 3]

False

In [547]:
#변수 복제 3 - list copy 함수 사용
a = [1,2,3]
b = a.copy()
print(a)
print(b)
b is a

[1, 2, 3]
[1, 2, 3]

False

# 연습문제

In [442]:
#Q1. 홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해보자.
#국어 - 80 / 영어 - 75 / 수학 - 55

In [345]:
hong = {'국어':80,'영어':75,'수학':55}
hong.values()

dict_values([80, 75, 55])

In [347]:
grades = list(hong.values())
mean = sum(grades)/3
print(mean)

70.0

In [344]:
#Q2. 13 -> 홀수 짝수?
bool(13%2 == 0)

False

In [355]:
#Q3. 홍길동 씨의 주민등록번호가 881120-1069234일 때, 
#연원일 부분과 그 뒤의 숫자 부분으로 나누어 출력
pin = '881120-1069234'

In [449]:
yyyyddmm = pin[:6]
num = pin[7:]
print(yyyyddmm)
print(num)

881120
1068234

In [538]:
#split 활용해보기
pin.split('-')
a = pin.split('-')
a

['881120', '1068234']

In [539]:
print(a[0])
print(a[1])

881120
1068234

In [446]:
#Q4. 주민등록번호의 성별을 나타내는 숫자 출력하기
pin = "881120-1068234"

In [358]:
pin[7]

'1'

In [397]:
#Q5. 문자열 함수 replace 사용하기
q5 = "a:b:c:d"

In [398]:
q5.replace(':','#')

'a#b#c#d'

In [394]:
#Q6. [1,3,5,4,2] 리스트를 [5,4,3,2,1]로 만들기
q6 = [1,3,5,4,2]

In [395]:
q6 = [1,3,5,4,2]
q6.sort()
q6

[1, 2, 3, 4, 5]

In [399]:
q6.reverse()
q6

[1, 2, 3, 4, 5]

In [421]:
#Q7. ['Life','is','too','short'] 리스트를 문자열로 만들어 출력하기
a = ['Life','is','too','short']
' '.join(a)

'Life is too short'

In [424]:
#Q8 (1,2,3) 튜플에 값 4 추가하기
t1 = (1,2,3)
t1

(1, 2, 3)

In [425]:
t2 = (4,)
t2

(4,)

In [427]:
t3 = t1 + t2
t3

(1, 2, 3, 4)

In [429]:
#Q9. 딕셔너리 오류가 나는 경우
# 3번 : 딕셔너리 키 값은 수정할 수 없으므로 수정가능한리스트가키값으로올수없다

In [439]:
#Q10. 딕셔너리 a에서 'B'에 해당하는 값 추출하기
a = {'A':90,'B':80,'C':70}
a.pop('B')

80

In [440]:
#Q11. 리스트에서 중복 제거하기 - set자료형의 특징 활용하기
a = [1,1,1,2,2,3,3,3,4,4,5]
b = set(a)
a = list(b)
a

[1, 2, 3, 4, 5]

In [549]:
#Q12.다음과 같이 동일한 값에 여러 개의 변수를 선언했을 경우 결과와 그 이유
a = b = [1,2,3]
a[1] = 4
print(b)

[1, 4, 3]

In [550]:
#변수 할당할 때 같은 위치에 저장되어서
print(id(a) == id(b))
print(a is b)

True
True

In [571]:
a=[3,2,1,4,5]
a.sort()
a

[1, 2, 3, 4, 5]

In [572]:
a = [3,2,1,4,5]
a.sort()
print(a)

[1, 2, 3, 4, 5]