In [1]:
import pandas as pd

## 1. 고객 기본정보 DB 넣기

In [2]:
excel_file ='./files/01.고객 기본정보 DB (샘플).xlsx'
df = pd.read_excel(excel_file)
df.head()

  userID   성함   주소  이메일  연락처  아이디  비밀번호  생년월일(6자리) 성별(남/여)
0  M0001   공유  NaN  NaN  NaN  NaN   NaN     730905       남
1  F0002  송혜교  NaN  NaN  NaN  NaN   NaN     800520       여
2  F0003  이소연  NaN  NaN  NaN  NaN   NaN     910909       여
3  F0004  하양이  NaN  NaN  NaN  NaN   NaN       1111       여
4  F0005  괄괄이  NaN  NaN  NaN  NaN   NaN      20201       여

In [3]:
# 생년월일 0 패딩처리
df['생년월일(6자리)'] = df['생년월일(6자리)'].map('{:06d}'.format)

In [4]:
df.head()

  userID   성함   주소  이메일  연락처  아이디  비밀번호 생년월일(6자리) 성별(남/여)
0  M0001   공유  NaN  NaN  NaN  NaN   NaN    730905       남
1  F0002  송혜교  NaN  NaN  NaN  NaN   NaN    800520       여
2  F0003  이소연  NaN  NaN  NaN  NaN   NaN    910909       여
3  F0004  하양이  NaN  NaN  NaN  NaN   NaN    001111       여
4  F0005  괄괄이  NaN  NaN  NaN  NaN   NaN    020201       여

In [5]:
df.columns

Index(['userID', '성함', '주소', '이메일', '연락처', '아이디', '비밀번호', '생년월일(6자리)',
       '성별(남/여)'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userID     9999 non-null   object
 1   성함         9999 non-null   object
 2   주소         1 non-null      object
 3   이메일        0 non-null      float64
 4   연락처        0 non-null      float64
 5   아이디        0 non-null      float64
 6   비밀번호       0 non-null      float64
 7   생년월일(6자리)  9999 non-null   object
 8   성별(남/여)    9999 non-null   object
dtypes: float64(4), object(5)
memory usage: 703.2+ KB

In [7]:
# 열 이름 적절하게 변경
df.rename(columns={'성함':'name', '주소':'address', '이메일':'email', '연락처':'phonenum','아이디':'nickname','비밀번호':'password', '생년월일(6자리)':'birth','성별(남/여)':'sex'},inplace=True)

In [8]:
df.head()

  userID name address  email  phonenum  nickname  password   birth sex
0  M0001   공유     NaN    NaN       NaN       NaN       NaN  730905   남
1  F0002  송혜교     NaN    NaN       NaN       NaN       NaN  800520   여
2  F0003  이소연     NaN    NaN       NaN       NaN       NaN  910909   여
3  F0004  하양이     NaN    NaN       NaN       NaN       NaN  001111   여
4  F0005  괄괄이     NaN    NaN       NaN       NaN       NaN  020201   여

In [9]:
# NaN값 '-'로 대체
df.fillna('-',inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   userID    9999 non-null   object
 1   name      9999 non-null   object
 2   address   9999 non-null   object
 3   email     9999 non-null   object
 4   phonenum  9999 non-null   object
 5   nickname  9999 non-null   object
 6   password  9999 non-null   object
 7   birth     9999 non-null   object
 8   sex       9999 non-null   object
dtypes: object(9)
memory usage: 703.2+ KB

In [12]:
## DB연결후, 저장

import pymysql

conn = pymysql.connect(host='localhost', user='root', password='apple123!!',\
    db = 'beaulol', charset='utf8')
cur= conn.cursor()

cur.execute(""" 
            create table if not exists customer_info ( 
            userID VARCHAR(10) NOT NULL,
            name VARCHAR(30) NOT NULL, 
            address VARCHAR(200), 
            email VARCHAR(50), 
            phonenum  VARCHAR(30),
            nickname VARCHAR(20), 
            password VARCHAR(40), 
            birth VARCHAR(6) NOT NULL,
            sex VARCHAR(1) NOT NULL,
            PRIMARY KEY(userID)
            )
            """)

for idx,row in df.iterrows():
    try:
        sql = "INSERT INTO customer_info(userID,name,address,email,phonenum,nickname,password,birth,\
        sex) values(%s, %s, %s, %s, %s, %s, %s, %s, %s)"
        
        cur.execute(sql, (row['userID'],row['name'],row['address'],row['email'], row['phonenum'],\
            row['nickname'], row['password'],row['birth'],row['sex']))
        
    except Exception as e:
        print("Error:", e)
        continue

conn.commit()
conn.close()

## 2. 고객 성향정보 DB넣기

In [13]:
excel_file2 ='./files/02.고객 성향 DB (샘플).xlsx'
df2 = pd.read_excel(excel_file2)
df2.head()

  userID   피부톤 피부타입             피부고민  선호 스타일
0    NaN    쿨톤   지성  잡티(-미백-홍조-다크서클)      청순
1    NaN    웜톤   건성          주름(-탄력)     데일리
2    NaN   봄웜톤  복합성               각질  유니크(힙)
3    NaN  여름쿨톤  민감성              트러블      섹시
4    NaN  가을웜톤   중성        블랙헤드(-모공)     러블리

In [14]:
len(df2['userID'])

10005

In [15]:
# 위에 설명행 제거
df2.drop(range(6),inplace=True)

In [16]:
len(df2['userID'])

9999

In [17]:
# # userID 데이터 값 추가
# df2['userID'] = ['M0001', 'F0002', 'F0003', 'F0004', 'F0005', 'F0006', 'M0007', 'F0008', 'F0009', 'F0010',
#                  'F0011', 'F0012', 'F0013', 'F0014', 'F0015', 'M0016', 'M0017', 'M0018', 'M0019', 'M0020',
#                  'F0021', 'F0022', 'F0023', 'F0024', 'F0025', 'F0026', 'F0027', 'F0028', 'F0029', 'F0030']

In [18]:
# 기초그룹의 NaN값 '-'로 변경
# df2['기초 그룹'].fillna('-',inplace=True)

In [19]:
# # 필요없는 열 제거
# df2.drop(columns=['Unnamed: 6','Unnamed: 7'],inplace=True)
# 열 이름에서 공백 제거
df2.rename(columns={'피부톤':'user_tone', '피부타입':'user_skintype', '피부고민':'user_trouble', '선호 스타일':'user_style'},inplace=True)

In [20]:
# 피부고민 열에서 하이픈'-'을 슬래시'/'로 변경
df2['user_trouble'] = df2['user_trouble'].str.replace('-','/')

# 괄호 제거
df2['user_trouble'] = df2['user_trouble'].str.replace('(','').str.replace(')','')

In [21]:
df2.head()

   userID user_tone user_skintype   user_trouble user_style
6   M0001        쿨톤           복합성        블랙헤드/모공     유니크(힙)
7   F0002      가을웜톤            건성        민감성/아토피        데일리
8   F0003      겨울쿨톤           복합성          주름/탄력     유니크(힙)
9   F0004       봄웜톤            중성  잡티/미백/홍조/다크서클        러블리
10  F0005      겨울쿨톤            건성             각질     유니크(힙)

In [22]:
df2.columns

Index(['userID', 'user_tone', 'user_skintype', 'user_trouble', 'user_style'], dtype='object')

In [23]:
## DB연결후, 저장

import pymysql

conn = pymysql.connect(host='localhost', user='root', password='apple123!!',\
    db = 'beaulol', charset='utf8')
cur= conn.cursor()

cur.execute(""" 
            create table if not exists customer_type ( 
            userID VARCHAR(10) NOT NULL,
            user_tone VARCHAR(5) ,
            user_skintype VARCHAR(5) ,
            user_trouble VARCHAR(20) ,
            user_style VARCHAR(10) ,
            PRIMARY KEY(userID)
            )
            """)

for idx,row in df2.iterrows():
    try:
        sql = "INSERT INTO customer_type(userID, user_tone, user_skintype, user_trouble, user_style)\
            values(%s, %s, %s, %s, %s)"
        
        cur.execute(sql, (row['userID'],row['user_tone'],row['user_skintype'],row['user_trouble'], row['user_style']))
        
    except Exception as e:
        print("Error:", e)
        continue

conn.commit()
conn.close()

## 3.고객 화장대 DB 넣기

In [24]:
import pandas as pd 
df = pd.read_csv('./files/03.customer_regis_sampling.csv')
df

FileNotFoundError: [Errno 2] No such file or directory: './files/03.customer_regis_sampling.csv'

In [31]:

conn = pymysql.connect(host='localhost', user='root', password='apple123!!', db = 'beaulol', charset='utf8')
cur= conn.cursor()

insert_sql = "INSERT INTO customer_regis(regis_num, regis_date, userID, prd_brand, prd_name) values(%s, %s, %s, %s, %s)"
create_sql = """ 
        create table if not exists customer_regis ( 
        regis_num VARCHAR(30) NOT NULL UNIQUE,
        regis_date VARCHAR(10),
        userID VARCHAR(10) NOT NULL,
        prd_brand VARCHAR(50) NOT NULL, 
        prd_name VARCHAR(500) NOT NULL, 
        pay_date DATE, 
        pay_price VARCHAR(10),
        op_date DATE,
        PRIMARY KEY(regis_num)
        );
        """

cur.execute(create_sql)
for i in range(len(df['regis_num'])):
        cur.execute(insert_sql,(df['regis_num'][i],'2024-01-23',df['userID'][i],df['prd_brand'][i],df['prd_name'][i]))
# cur.execute(insert_sql,(df['regis_num'],'240123',df['userID'],df['prd_brand'],df['prd_name']))
        
conn.commit()
conn.close()

## 4.화장품 상품정보 DB 넣기

In [ ]:
def categorized(df,category):
    df['제품유형'] = f'{category}'
    return df

In [ ]:
import pandas as pd
cream = pd.read_csv('./output/prep_cream.csv')
lotion = pd.read_csv('./output/prep_lotion.csv')
skin = pd.read_csv('./output/prep_skin.csv')
serum = pd.read_csv('./output/prep_serum.csv')

In [ ]:
serum = categorized(serum,'세럼')
cream = categorized(cream,'크림')
skin = categorized(skin,'스킨토너')
lotion = categorized(lotion,'로션')

In [ ]:
print(serum['제품유형'].head())
print(cream['제품유형'].head())
print(skin['제품유형'].head())
print(lotion['제품유형'].head())

0    세럼
1    세럼
2    세럼
3    세럼
4    세럼
Name: 제품유형, dtype: object
0    크림
1    크림
2    크림
3    크림
4    크림
Name: 제품유형, dtype: object
0    스킨토너
1    스킨토너
2    스킨토너
3    스킨토너
4    스킨토너
Name: 제품유형, dtype: object
0    로션
1    로션
2    로션
3    로션
4    로션
Name: 제품유형, dtype: object

In [ ]:
print(serum.columns)
print(cream.columns)
print(skin.columns)
print(lotion.columns)

Index(['제품명', '브랜드', '가격', '상품정보', '썸네일', '용량', '유통기한', '성분', '제품유형'], dtype='object')
Index(['제품명', '브랜드', '가격', '상품정보', '썸네일', '용량', '유통기한', '성분', '제품유형'], dtype='object')
Index(['제품명', '브랜드', '가격', '상품정보', '썸네일', '용량', '유통기한', '성분', '제품유형'], dtype='object')
Index(['제품명', '브랜드', '가격', '상품정보', '썸네일', '용량', '유통기한', '성분', '제품유형'], dtype='object')

In [ ]:
print(serum.info())
print(cream.info())
print(skin.info())
print(lotion.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519 entries, 0 to 518
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     519 non-null    object
 1   브랜드     519 non-null    object
 2   가격      519 non-null    object
 3   상품정보    519 non-null    object
 4   썸네일     519 non-null    object
 5   용량      519 non-null    object
 6   유통기한    519 non-null    object
 7   성분      516 non-null    object
 8   제품유형    519 non-null    object
dtypes: object(9)
memory usage: 36.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     48 non-null     object
 1   브랜드     48 non-null     object
 2   가격      48 non-null     object
 3   상품정보    48 non-null     object
 4   썸네일     48 non-null     object
 5   용량      48 non-null     object
 6   유통기한    48 non-null     object
 7   성분      47 non-null     object
 8   제품유형    48 non-null     object
dtypes: object(9)
memory usage: 3.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     48 non-null     object
 1   브랜드     48 non-null     object
 2   가격      48 non-null     object
 3   상품정보    48 non-null     object
 4   썸네일     48 non-null     object
 5   용량      48 non-null     object
 6   유통기한    48 non-null     object
 7   성분      47 non-null     object
 8   제품유형    48 non-null     object
dtypes: object(9)
memory usage: 3.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제품명     47 non-null     object
 1   브랜드     48 non-null     object
 2   가격      48 non-null     object
 3   상품정보    48 non-null     object
 4   썸네일     48 non-null     object
 5   용량      48 non-null     object
 6   유통기한    48 non-null     object
 7   성분      48 non-null     object
 8   제품유형    48 non-null     object
dtypes: object(9)
memory usage: 3.5+ KB
None

In [ ]:
import pymysql

def update_prd_info(df):
    df = df.dropna()
    df = df.drop_duplicates()
    df = df[['제품명','브랜드', '가격', '용량', '성분', '유통기한', '제품유형']]
    # Database connection
    conn = pymysql.connect(host='localhost', user='root', password='apple123!!', db='beaulol', charset='utf8')

    with conn.cursor() as curs:
        # Create table if it does not exist
        curs.execute("""
        CREATE TABLE IF NOT EXISTS product_info (
            prd_name VARCHAR(500),
            prd_brand VARCHAR(50),
            prd_price VARCHAR(10),
            prd_capa TEXT,
            prd_ingredients TEXT,
            prd_exp TEXT,
            prd_category VARCHAR(10),
            PRIMARY KEY (prd_name)
        );
        """)

        # Prepare the SQL statement for inserting data
        sql = """
        REPLACE INTO product_info (prd_name, prd_brand, prd_price, prd_capa, prd_ingredients, prd_exp, prd_category)
        VALUES (%s, %s, %s, %s, %s, %s, %s)
        """

        # Convert DataFrame to a list of tuples
        data_tuples = [tuple(x) for x in df.to_numpy()]

        # Execute the SQL statement in bulk
        curs.executemany(sql, data_tuples)

    # Commit changes and close connection
    conn.commit()
    conn.close()

In [ ]:
update_prd_info(cream)
update_prd_info(lotion)
update_prd_info(serum)
update_prd_info(skin)

## 5.리뷰 DB 넣기

In [28]:
import pandas as pd
csv_file ='./files/05.oliveyoung_raw_review.csv'
df = pd.read_csv(csv_file)
df

,brand,prod_name,id,star_rate,review,keyword
0,브이티,VT 리들샷 100 에센스,간호산데여,5,환절기에 피부 뒤집어져서 반신반의 하며 샀는데 지인짜 효과 지대로에요ㅎㅎㅎㅎ바를때 ...,효과가 좋아요/진정이 돼요.
1,브이티,VT 리들샷 100 에센스,올영메이트인데요,5,온라인으로 주문하고 한달동안 사용해봤는데 이번주부터 우리 매장에도 들어왔다~~~자연...,피부결이 개선됐어요.
2,브이티,VT 리들샷 100 에센스,hareen,5,아주 잘쓰고 있어요!!!! 처음에 따가운게 적응이 안됐는데자주쓰니까 적응이 되네여..!!,-
3,브이티,VT 리들샷 100 에센스,콩이파더22,5,리들샷 요즘 엄청 핫 하죠다이소에서 파는 것도 겨우 구해서 쓰다가 올영에서 본품 구...,"효과가 좋아요. ,진정이 됩니다."
4,브이티,VT 리들샷 100 에센스,이단콩,5,리들샷 특성상 시카 니들이 포함돼있어 자극이 느껴지는건 당연한 부분이예요〰️다만 리...,트러블이 줄었어요/붉은기가 나아졌어요/모공이 줄었어요.
...,...,...,...,...,...,...
995,브이티,VT 리들샷 100 에센스,도제,3,려드름 피부도 쓸수있다 했는디저는 딱히 효과가 없는듯해요ㅠㅍ,NaN
996,브이티,VT 리들샷 100 에센스,당토,2,자극은 그렇다치고... 이거 사용하니까 조그마한 좁쌀모양 피지가 얼굴 전체에 생겼습...,NaN
997,브이티,VT 리들샷 100 에센스,어도러블여왕님,4,계속 쓰다보니 점점 안 따가워지는 것 같아요 다음엔 더 센 걸로 사보려구요!,NaN
998,브이티,VT 리들샷 100 에센스,써보고좋으면짖음,5,아무래도 자극이 느껴지지만 자연스러운 현상이라고 하니 꾸준히 써볼 생각입니다,NaN
999,브이티,VT 리들샷 100 에센스,아이온,5,100은 그렇게 생각보다 따끔거리지않네요 다음엔 700을 사야겠어요,NaN

In [29]:
conn = pymysql.connect(host='localhost', user='root', password='apple123!!',\
    db = 'beaulol', charset='utf8')
cur= conn.cursor()

f=open('./files/05.oliveyoung_raw_review.csv','r')

csvReader = list(csv.reader(f))
cur.execute("create table if not exists review_db (prd_brand VARCHAR(20), prd_name VARCHAR(40), userID VARCHAR(20),\
star_rate INT, review TEXT, PRIMARY KEY (userID))")


for data in csvReader[1:]:
    row1= data[0]
    row2= data[1]
    row3= data[2]
    row4= int(data[3])
    row5= data[4]
    
    print(row3,row4,type(row4))
    
    try:
        sql = """insert into review_db (prd_brand, prd_name, userID, star_rate, review) values(%s, %s, %s, %s, %s);"""
        cur.execute(sql,(row1,row2,row3,row4,row5))
    except:
        continue
    
f.close()
conn.commit()


conn.close()

간호산데여 5 <class 'int'>
올영메이트인데요 5 <class 'int'>
hareen 5 <class 'int'>
콩이파더22 5 <class 'int'>
이단콩 5 <class 'int'>
올올덕 5 <class 'int'>
안녕하숙까 5 <class 'int'>
jwwcat 5 <class 'int'>
비니수 5 <class 'int'>
Mizthecat 5 <class 'int'>
syjal 5 <class 'int'>
bear베어 5 <class 'int'>
냐얀야나냥 5 <class 'int'>
야야아야양 5 <class 'int'>
푸링짱 5 <class 'int'>
jio11 5 <class 'int'>
jio11 5 <class 'int'>
오롤롤 5 <class 'int'>
hq1 5 <class 'int'>
체리쿵 5 <class 'int'>
부타로니 5 <class 'int'>
코투닝 5 <class 'int'>
미미미mme 5 <class 'int'>
코코아녕 3 <class 'int'>
Likey 5 <class 'int'>
마리안네 4 <class 'int'>
경의선귀여운죄안된다 5 <class 'int'>
자신있써어어 5 <class 'int'>
푸링짱 5 <class 'int'>
김먕먕 5 <class 'int'>
메리크 5 <class 'int'>
O3OY 5 <class 'int'>
Channri 5 <class 'int'>
볼빵빵춘식이 5 <class 'int'>
bear베어 5 <class 'int'>
whvely 5 <class 'int'>
sol솔 3 <class 'int'>
충동구매니니즈 4 <class 'int'>
정연니 1 <class 'int'>
살랑이 4 <class 'int'>
Myzu 5 <class 'int'>
콩이맘맘 5 <class 'int'>
올영에진심인편 5 <class 'int'>
sol솔 3 <class 'int'>
올챙임 4 <class 'int'>
하늘을나는고래 5 <class 'int'>
청색 5 <class 'int'>
ah31046 5 <class 'int'>
히드돈이 5 <class 'int'>
으와아앙 5 <class 'int'>
나오미 5 <class 'int'>
ouestdans 5 <class 'int'>
레모옹 3 <class 'int'>
두비둠바 5 <class 'int'>
보먀 5 <class 'int'>
빵맛있당 5 <class 'int'>
방나방 5 <class 'int'>
진진여사 4 <class 'int'>
오잉또잉 5 <class 'int'>
북극판다 4 <class 'int'>
올리브영에월급반납 4 <class 'int'>
콩이맘맘 5 <class 'int'>
꼰꼰지 5 <class 'int'>
기니디리미비시 5 <class 'int'>
날견뎌 5 <class 'int'>
풍구 5 <class 'int'>
vanta 4 <class 'int'>
보송한바게트 4 <class 'int'>
hallang 5 <class 'int'>
아롱모찌 5 <class 'int'>
고먀미당 5 <class 'int'>
살랑이 5 <class 'int'>
화장품좋아하는변태 5 <class 'int'>
unau 5 <class 'int'>
홍아띠 5 <class 'int'>
가리쏭 5 <class 'int'>
엽찌모찌 5 <class 'int'>
올쟁이 5 <class 'int'>
목화라떼 5 <class 'int'>
어우지겨워 5 <class 'int'>
로즈핑클 5 <class 'int'>
소보소보 5 <class 'int'>
hasoyoung 5 <class 'int'>
럭셜영 5 <class 'int'>
eunia 5 <class 'int'>
minnn 5 <class 'int'>
힌동이 5 <class 'int'>
3줄요약요정 5 <class 'int'>
jio11 4 <class 'int'>
하우이 5 <class 'int'>
체리뺙 5 <class 'int'>
립빠리뽀 1 <class 'int'>
Bobbi 5 <class 'int'>
올리브영중독자입니다 5 <class 'int'>
쥬쀼쀼 5 <class 'int'>
jio11 5 <class 'int'>
광주광역시지은이 5 <class 'int'>
Ayyoct 5 <class 'int'>
헬레니 5 <class 'int'>
짱유님 5 <class 'int'>
레모네이드 5 <class 'int'>
해리니 5 <class 'int'>
tngusdk 5 <class 'int'>
기름떡볶이 5 <class 'int'>
hiken 5 <class 'int'>
체리브영 5 <class 'int'>
Jieee 5 <class 'int'>
피부에돈진짜안쓰는애 5 <class 'int'>
스니프 5 <class 'int'>
카페라떼아이스 5 <class 'int'>
iina 5 <class 'int'>
금지 5 <class 'int'>
모코모코 5 <class 'int'>
hheeeee 5 <class 'int'>
유짱구다 5 <class 'int'>
lIlIlIllIl 5 <class 'int'>
뚜둥이 5 <class 'int'>
DDMEOWDD 5 <class 'int'>
PKBB 4 <class 'int'>
화장빨부엉이 5 <class 'int'>
MiMi20 4 <class 'int'>
duuuuu 5 <class 'int'>
지솜 5 <class 'int'>
지솜 5 <class 'int'>
치킨나라피자 5 <class 'int'>
간단루틴선호자 5 <class 'int'>
인생pizza 5 <class 'int'>
아롱모찌 5 <class 'int'>
오아시스oasis 5 <class 'int'>
하늘위둥 5 <class 'int'>
윤뎅이용 5 <class 'int'>
김크롱 5 <class 'int'>
임금님강낭콩 5 <class 'int'>
정민이는짱이다 5 <class 'int'>
두부후추메주 4 <class 'int'>
둘둘 4 <class 'int'>
투브릿지 5 <class 'int'>
윤소르비 5 <class 'int'>
미리내1 5 <class 'int'>
QueenLin 5 <class 'int'>
윌링 5 <class 'int'>
이이얍얍얍 5 <class 'int'>
도라에몽1 5 <class 'int'>
유율이야 5 <class 'int'>
beariiiyk 4 <class 'int'>
유제 4 <class 'int'>
블리블리 5 <class 'int'>
Wwwwwzz 5 <class 'int'>
건반쟁이 5 <class 'int'>
lovemyocean 5 <class 'int'>
By7lish 5 <class 'int'>
겨란노른자 5 <class 'int'>
공화국 5 <class 'int'>
랑이23 5 <class 'int'>
DANAH0831 5 <class 'int'>
Lindsaykim 4 <class 'int'>
waters 5 <class 'int'>
푸돌이 5 <class 'int'>
지어 5 <class 'int'>
찐이78 5 <class 'int'>
Kasi 5 <class 'int'>
어린올리브젊은올리브 5 <class 'int'>
레이 4 <class 'int'>
쟝짱똘 5 <class 'int'>
김악건성 5 <class 'int'>
좋다는건일단사보기 5 <class 'int'>
알잘딱 5 <class 'int'>
감자샐러둥 5 <class 'int'>
삐삐삐빔 5 <class 'int'>
유짱구다 5 <class 'int'>
celebrity 5 <class 'int'>
수짱이 5 <class 'int'>
유자닝 4 <class 'int'>
Jy26 5 <class 'int'>
류미르 5 <class 'int'>
지호파파 5 <class 'int'>
홀롤롤롤 5 <class 'int'>
우루루까꿍 5 <class 'int'>
우루루까꿍 5 <class 'int'>
예나아 5 <class 'int'>
두댕7 5 <class 'int'>
디올안다 5 <class 'int'>
방시혁이의최첨단방귀 5 <class 'int'>
하늘위둥 5 <class 'int'>
YUKIME 5 <class 'int'>
쟈옴 5 <class 'int'>
순무쿵야 5 <class 'int'>
잉댕응 5 <class 'int'>
송월이 5 <class 'int'>
히뇽 5 <class 'int'>
주이영 4 <class 'int'>
뜐뜌닝 5 <class 'int'>
조봉봉 5 <class 'int'>
호미밍 5 <class 'int'>
고양이티모 5 <class 'int'>
박라라 5 <class 'int'>
징징징이 5 <class 'int'>
하나만해 4 <class 'int'>
뽀뽀둥둥 5 <class 'int'>
나무관세음보살 5 <class 'int'>
돋을볕 5 <class 'int'>
whvely 5 <class 'int'>
Jinhey 5 <class 'int'>
vlomm 5 <class 'int'>
삐삐삐빔 5 <class 'int'>
기름떡볶이 5 <class 'int'>
bling99 5 <class 'int'>
이베리 5 <class 'int'>
민정킴벌리 5 <class 'int'>
씨엘양 5 <class 'int'>
슬리데린수석 5 <class 'int'>
한달에한번무조건올영 4 <class 'int'>
댕개굴 5 <class 'int'>
김리헬 5 <class 'int'>
딩둥둥 5 <class 'int'>
코코사랑이 5 <class 'int'>
복쓩아 5 <class 'int'>
꾸꺄 5 <class 'int'>
님쓰요 5 <class 'int'>
볼빵빵춘식이 5 <class 'int'>
디마프 5 <class 'int'>
정우남편 5 <class 'int'>
정예희 5 <class 'int'>
Dltpql00 5 <class 'int'>
도다밍 5 <class 'int'>
yjy7114 3 <class 'int'>
쏘야쏘야 4 <class 'int'>
호호호홉 5 <class 'int'>
러카프리오 5 <class 'int'>
whvely 5 <class 'int'>
므응즈ㅠ 5 <class 'int'>
7mong8 5 <class 'int'>
우아아아아아아아어어 5 <class 'int'>
Try 4 <class 'int'>
뮤뮤뮹 4 <class 'int'>
응둥 5 <class 'int'>
홍아띠 5 <class 'int'>
미니올챙이 5 <class 'int'>
포인트냠냠 4 <class 'int'>
사악한숭 4 <class 'int'>
화장품좋아하는변태 5 <class 'int'>
최서이 5 <class 'int'>
민듀유유융 5 <class 'int'>
뇸뇸뇽뇸뇽 5 <class 'int'>
김미묘 5 <class 'int'>
팡잇 4 <class 'int'>
흰뚱이 5 <class 'int'>
호방시 4 <class 'int'>
응댕 5 <class 'int'>
크림후추 5 <class 'int'>
lyr 4 <class 'int'>
토토토토로로 5 <class 'int'>
쟈옴 5 <class 'int'>
닉네임없움 5 <class 'int'>
혀낭낭 5 <class 'int'>
김러브luv 5 <class 'int'>
New999 5 <class 'int'>
로즈핑클 5 <class 'int'>
토깽이99 5 <class 'int'>
새우깡12 5 <class 'int'>
올령걸 5 <class 'int'>
가을이이 5 <class 'int'>
behappy 4 <class 'int'>
yihyun68 4 <class 'int'>
jingna 5 <class 'int'>
Sea 5 <class 'int'>
굥잉뇽 4 <class 'int'>
귤사과딸기 5 <class 'int'>
늘보131313 4 <class 'int'>
미미야옹 5 <class 'int'>
쿠크크카 5 <class 'int'>
덕복희낸화 5 <class 'int'>
수연곤듀 5 <class 'int'>
희히힛 5 <class 'int'>
jelala 5 <class 'int'>
포챠코오 5 <class 'int'>
JeonghyeKim 3 <class 'int'>
MAImai 5 <class 'int'>
콩콩누니 5 <class 'int'>
Kim76 5 <class 'int'>
쇼핑은절거워 5 <class 'int'>
ㄴㄱㅅㅇㅞㅛ 3 <class 'int'>
리아규동 5 <class 'int'>
ㅁㅎㅎ 5 <class 'int'>
니나니나논 5 <class 'int'>
쌀알갱 5 <class 'int'>
찌유뉘 5 <class 'int'>
하늘몽실 5 <class 'int'>
곰곰밈 5 <class 'int'>
레모옹 3 <class 'int'>
치링치링치리링ㅇ 5 <class 'int'>
무미인 5 <class 'int'>
뿡뿡찌 5 <class 'int'>
부관리 5 <class 'int'>
쮯쮯쮯 3 <class 'int'>
하나만해 4 <class 'int'>
올리브영유목민 5 <class 'int'>
맛탕 5 <class 'int'>
화장품좀그만사 5 <class 'int'>
미잉링 5 <class 'int'>
미잉링 5 <class 'int'>
박잼민 5 <class 'int'>
미니21 5 <class 'int'>
YeY뷰티 5 <class 'int'>
술과고기 5 <class 'int'>
마라라기 5 <class 'int'>
보경이상윤 5 <class 'int'>
Dthr 5 <class 'int'>
코덕미용인 5 <class 'int'>
이원원 5 <class 'int'>
한방에BABY에서GOLD 4 <class 'int'>
안녕하세요개똥입니다 5 <class 'int'>
913 5 <class 'int'>
ah31046 5 <class 'int'>
맠프ㅡ 5 <class 'int'>
레몬체리자몽 5 <class 'int'>
얀듀 5 <class 'int'>
코코아키 5 <class 'int'>
이땡호 5 <class 'int'>
ㅣ푸링이ㅣ 5 <class 'int'>
VintiA 5 <class 'int'>
샹뜨 4 <class 'int'>
냥냐냥냥S2 5 <class 'int'>
난몰라ㅎ 5 <class 'int'>
비슬박 5 <class 'int'>
리치걸 5 <class 'int'>
솔직한리뷰왕 5 <class 'int'>
올메2 5 <class 'int'>
mayday21 5 <class 'int'>
밍차니 5 <class 'int'>
jio11 5 <class 'int'>
님쓰요 5 <class 'int'>
qqoqz3 5 <class 'int'>
brandu98 4 <class 'int'>
술이식기전에 5 <class 'int'>
촉촉한찹쌀 5 <class 'int'>
촉촉한찹쌀 5 <class 'int'>
커리 5 <class 'int'>
무지개달 5 <class 'int'>
뽀임임 5 <class 'int'>
콩밍콩 5 <class 'int'>
초숲 5 <class 'int'>
행지쓰 5 <class 'int'>
샐러리농장 5 <class 'int'>
대길 5 <class 'int'>
세일조아 5 <class 'int'>
이또동 5 <class 'int'>
히짱이 5 <class 'int'>
토미보미 5 <class 'int'>
어도러블여왕님 5 <class 'int'>
와인주현 5 <class 'int'>
민니민니 5 <class 'int'>
현85 5 <class 'int'>
뽀뇨리 5 <class 'int'>
ekgus**** 5 <class 'int'>
휘영청 5 <class 'int'>
판다하 5 <class 'int'>
ghjk**** 3 <class 'int'>
banan**** 5 <class 'int'>
주콩2 5 <class 'int'>
여수중경 5 <class 'int'>
913 5 <class 'int'>
맹구훈이 5 <class 'int'>
고먀미당 5 <class 'int'>
hohob**** 5 <class 'int'>
eulvgi**** 4 <class 'int'>
jelala 5 <class 'int'>
다롱다 5 <class 'int'>
땅콩아몬드피스타치오 4 <class 'int'>
jamie2486 5 <class 'int'>
캉이s 5 <class 'int'>
NARARA 5 <class 'int'>
여쿨라인데 5 <class 'int'>
아나바다나 5 <class 'int'>
ㅅㄱㅈㄱㄷㄴㄱ 5 <class 'int'>
귤팽이 5 <class 'int'>
좋은아침 5 <class 'int'>
xxxxmayo88 5 <class 'int'>
chaeng 5 <class 'int'>
k202111060**** 5 <class 'int'>
두산 5 <class 'int'>
제리뷰는요 4 <class 'int'>
담백한감자 5 <class 'int'>
양이최고야 4 <class 'int'>
앙기 5 <class 'int'>
윤블랑 5 <class 'int'>
snowwhitekgk 4 <class 'int'>
Chaewonthing 5 <class 'int'>
Millie 5 <class 'int'>
펭슈 5 <class 'int'>
건성유목잉 5 <class 'int'>
상은이 5 <class 'int'>
두더디은디 5 <class 'int'>
소피6 5 <class 'int'>
기다료 5 <class 'int'>
milku 4 <class 'int'>
먹breadii 5 <class 'int'>
우룽우룽 5 <class 'int'>
난행운이야 5 <class 'int'>
올리브영따랑해 5 <class 'int'>
혲ㅈ 5 <class 'int'>
whitesaem 5 <class 'int'>
움파룸파룸 5 <class 'int'>
챙이쟁이 5 <class 'int'>
밍링밍 5 <class 'int'>
시요니2 5 <class 'int'>
제니픽 5 <class 'int'>
얌만두 5 <class 'int'>
아롱모찌 5 <class 'int'>
Myzu 5 <class 'int'>
Myzu 5 <class 'int'>
빵맛있당 5 <class 'int'>
팡잇 4 <class 'int'>
좋다는건일단사보기 4 <class 'int'>
모코모코 5 <class 'int'>
방나방 5 <class 'int'>
아롱모찌 5 <class 'int'>
볼빵빵춘식이 5 <class 'int'>
올영메이트인데요 5 <class 'int'>
망곰이 3 <class 'int'>
밤달잉 5 <class 'int'>
쇼핑은절거워 5 <class 'int'>
VITALITY 4 <class 'int'>
띨엄마 3 <class 'int'>
cns**** 5 <class 'int'>
레몬체리자몽 5 <class 'int'>
김채리의탐구생활 5 <class 'int'>
ghjj**** 5 <class 'int'>
주블리리 5 <class 'int'>
Som39 5 <class 'int'>
shwldnjs**** 5 <class 'int'>
지남이 5 <class 'int'>
잠와오 5 <class 'int'>
msg9ce**** 4 <class 'int'>
nann**** 5 <class 'int'>
star206**** 5 <class 'int'>
sakura**** 5 <class 'int'>
IlIlllIllI 5 <class 'int'>
JJIINNN 4 <class 'int'>
베베공주님 4 <class 'int'>
두밧두 5 <class 'int'>
이든Eden 5 <class 'int'>
망두만두냠 5 <class 'int'>
랑링이 5 <class 'int'>
문이문이 5 <class 'int'>
채송송 5 <class 'int'>
시니니 5 <class 'int'>
이본 5 <class 'int'>
tngusdk 5 <class 'int'>
오도라 5 <class 'int'>
DGHP 5 <class 'int'>
체리쿵 5 <class 'int'>
상우지원 5 <class 'int'>
쇼니99 5 <class 'int'>
승깔녀 5 <class 'int'>
zeeee 5 <class 'int'>
복호두언니 5 <class 'int'>
날앵잉 5 <class 'int'>
바비쏭 4 <class 'int'>
김쏘롱 5 <class 'int'>
라라라연 4 <class 'int'>
Sally1176 3 <class 'int'>
포비은비 5 <class 'int'>
울울내미 5 <class 'int'>
팽팽귄 5 <class 'int'>
sspi 4 <class 'int'>
미리내1 5 <class 'int'>
행복한곰돌이 5 <class 'int'>
행복한곰돌이 5 <class 'int'>
해피해피love 5 <class 'int'>
콩새야 5 <class 'int'>
진예리 5 <class 'int'>
두유우유오트밀크 5 <class 'int'>
O3OY 5 <class 'int'>
긍정행복 5 <class 'int'>
석촌동물주먹 5 <class 'int'>
rkdd**** 5 <class 'int'>
cns**** 5 <class 'int'>
vndt**** 5 <class 'int'>
win**** 1 <class 'int'>
leejh96**** 4 <class 'int'>
okja**** 5 <class 'int'>
마이클쑤 3 <class 'int'>
요용요22 4 <class 'int'>
dbzl**** 5 <class 'int'>
콩ㅇ 4 <class 'int'>
달다루 3 <class 'int'>
sos0 5 <class 'int'>
경혀니 5 <class 'int'>
냥규 5 <class 'int'>
행찬 5 <class 'int'>
유혜주 5 <class 'int'>
포뚜 5 <class 'int'>
고딩딩 4 <class 'int'>
퐁퐁이s2 5 <class 'int'>
오동글이 5 <class 'int'>
새벽v 5 <class 'int'>
얼리브용용 5 <class 'int'>
wjddnjst**** 5 <class 'int'>
qkqhwj**** 5 <class 'int'>
shin**** 5 <class 'int'>
야닝 5 <class 'int'>
무지개올리브 5 <class 'int'>
wnswns 5 <class 'int'>
hyeonv 5 <class 'int'>
ayuk**** 1 <class 'int'>
y212**** 5 <class 'int'>
pana**** 2 <class 'int'>
nayeon**** 5 <class 'int'>
sem**** 5 <class 'int'>
nayeon**** 5 <class 'int'>
sem**** 5 <class 'int'>
khe**** 5 <class 'int'>
zzzdlekq**** 5 <class 'int'>
dbwls**** 5 <class 'int'>
shjyo**** 5 <class 'int'>
mar**** 5 <class 'int'>
loveu**** 5 <class 'int'>
kmyn**** 5 <class 'int'>
csh**** 5 <class 'int'>
021**** 5 <class 'int'>
sojink**** 1 <class 'int'>
allie**** 5 <class 'int'>
히히님 5 <class 'int'>
똑똑핑 5 <class 'int'>
애플소다 5 <class 'int'>
YUKIME 5 <class 'int'>
까짓거한번사보죠 5 <class 'int'>
보송한바게트 4 <class 'int'>
ㄴㄹㄹㄹ 4 <class 'int'>
댕청망청 5 <class 'int'>
angelaB 4 <class 'int'>
Yeonbora 5 <class 'int'>
이짱똘 5 <class 'int'>
Yeonbora 5 <class 'int'>
쏜0109 4 <class 'int'>
Lo 5 <class 'int'>
죠땡 5 <class 'int'>
춘식미 5 <class 'int'>
ㅎㅎ루 5 <class 'int'>
bawp88 5 <class 'int'>
가을가을가을웜톤 5 <class 'int'>
넹넨 5 <class 'int'>
우유이멍 5 <class 'int'>
Jinjhhh 5 <class 'int'>
chaeneee 5 <class 'int'>
피부미인wanna 5 <class 'int'>
당근딸기 5 <class 'int'>
소피6 5 <class 'int'>
mari**** 4 <class 'int'>
hj**** 5 <class 'int'>
js**** 5 <class 'int'>
hanjihye**** 5 <class 'int'>
tjsghkz**** 5 <class 'int'>
sheyeup**** 5 <class 'int'>
sheyeup**** 5 <class 'int'>
hsw99**** 5 <class 'int'>
빵빠레초코맛 5 <class 'int'>
th**** 5 <class 'int'>
qkr**** 4 <class 'int'>
sjs**** 5 <class 'int'>
archwi**** 5 <class 'int'>
jjjjjjhh**** 5 <class 'int'>
구경이 5 <class 'int'>
daisyyy 5 <class 'int'>
ssoy**** 5 <class 'int'>
so02**** 5 <class 'int'>
ksnfl**** 4 <class 'int'>
zz95**** 5 <class 'int'>
lcw**** 5 <class 'int'>
ssanta2**** 5 <class 'int'>
shin**** 5 <class 'int'>
yesol**** 5 <class 'int'>
lcw**** 5 <class 'int'>
k202311148**** 5 <class 'int'>
소나무 3 <class 'int'>
묘오묘 5 <class 'int'>
구운만두 5 <class 'int'>
cil**** 5 <class 'int'>
악당의사연 4 <class 'int'>
슈크림빵7 5 <class 'int'>
흠달 5 <class 'int'>
옥지야리뷰써 5 <class 'int'>
미야우우 5 <class 'int'>
hnl77 5 <class 'int'>
Lion5154 5 <class 'int'>
요닝하 5 <class 'int'>
룰룰루랄랄라룰루랄라 5 <class 'int'>
공팔공육 5 <class 'int'>
예민해 5 <class 'int'>
niv**** 3 <class 'int'>
wldnj**** 5 <class 'int'>
swee**** 5 <class 'int'>
wlgpr**** 5 <class 'int'>
th**** 5 <class 'int'>
jee**** 5 <class 'int'>
k202207092**** 5 <class 'int'>
gidw**** 5 <class 'int'>
parkminj**** 5 <class 'int'>
aette**** 5 <class 'int'>
ㅅㅇㄱㅈㄴ 5 <class 'int'>
크하하하 5 <class 'int'>
우유이멍 5 <class 'int'>
존모시 5 <class 'int'>
dlwodms1100 5 <class 'int'>
쮸뺘삐뮤녜뇽 5 <class 'int'>
저채도인간 5 <class 'int'>
뀨꾸꾸꾸 5 <class 'int'>
감자스무디 5 <class 'int'>
chos2i 5 <class 'int'>
뀨꾸꾸꾸 5 <class 'int'>
감자스무디 5 <class 'int'>
chos2i 5 <class 'int'>
맹몽밍몽 5 <class 'int'>
쩰리쮸 5 <class 'int'>
정파이 5 <class 'int'>
정파이 5 <class 'int'>
꼬뎅꼬 5 <class 'int'>
2s**** 4 <class 'int'>
늘봉이이 4 <class 'int'>
꼬리포사 5 <class 'int'>
예이니 5 <class 'int'>
예이니 5 <class 'int'>
망상이 4 <class 'int'>
QueenLin 5 <class 'int'>
라네모 5 <class 'int'>
큐큐큐큠 5 <class 'int'>
당토 5 <class 'int'>
쇼니99 5 <class 'int'>
쥬쀼쀼 5 <class 'int'>
아맞다 5 <class 'int'>
금지 5 <class 'int'>
엉성해 5 <class 'int'>
향마니야 5 <class 'int'>
neppi 5 <class 'int'>
트러블메이커임 5 <class 'int'>
로즈핑클 5 <class 'int'>
리미요미 2 <class 'int'>
체리뺙 5 <class 'int'>
말랑쩡 4 <class 'int'>
순무쿵야 4 <class 'int'>
엉성해 5 <class 'int'>
엉성해 5 <class 'int'>
여고인 1 <class 'int'>
나꾸 3 <class 'int'>
뮤트럽 5 <class 'int'>
김러브luv 5 <class 'int'>
헤일리이요ㅋ 5 <class 'int'>
리아리나 5 <class 'int'>
RGB777 5 <class 'int'>
가리짱 5 <class 'int'>
Kasi 5 <class 'int'>
알파센타우리인 5 <class 'int'>
푸링짱 5 <class 'int'>
김선호냅다사랑해 5 <class 'int'>
syjoo0**** 5 <class 'int'>
9j**** 5 <class 'int'>
pm**** 5 <class 'int'>
lcw**** 5 <class 'int'>
kwh06**** 5 <class 'int'>
ssicodr**** 5 <class 'int'>
thwjdgi**** 5 <class 'int'>
amy**** 5 <class 'int'>
hyoc**** 4 <class 'int'>
소봄 5 <class 'int'>
밍밍된찌 5 <class 'int'>
궁뎅잉 2 <class 'int'>
솜드리 5 <class 'int'>
이뽀링 5 <class 'int'>
스르르르르 1 <class 'int'>
데융 5 <class 'int'>
뿍치 4 <class 'int'>
ROSYOH 4 <class 'int'>
ㄱㄹㅇㅅ 5 <class 'int'>
ㄱㄹㅇㅅ 5 <class 'int'>
ㄱㄹㅇㅅ 5 <class 'int'>
뾰로롱v 5 <class 'int'>
슈플레 5 <class 'int'>
오예쓰요 5 <class 'int'>
csunny 5 <class 'int'>
도도도도동 5 <class 'int'>
올영을사랑하는소녀 5 <class 'int'>
히2히 5 <class 'int'>
yhyhyhyhyh 5 <class 'int'>
히2히 5 <class 'int'>
6150717 5 <class 'int'>
sb**** 5 <class 'int'>
sabrina 5 <class 'int'>
도리미 5 <class 'int'>
민머리감자 5 <class 'int'>
움마양 5 <class 'int'>
춘식is 5 <class 'int'>
포키우디 5 <class 'int'>
온리핑크 5 <class 'int'>
yxexn 5 <class 'int'>
을을엉홀앙희 3 <class 'int'>
sabrina 4 <class 'int'>
yxexn 5 <class 'int'>
yxjxn 5 <class 'int'>
키키키킥 4 <class 'int'>
seoy**** 5 <class 'int'>
anna**** 5 <class 'int'>
hj**** 5 <class 'int'>
sshs**** 5 <class 'int'>
jys**** 5 <class 'int'>
k202312152**** 1 <class 'int'>
alsl**** 5 <class 'int'>
ya**** 5 <class 'int'>
chjis**** 5 <class 'int'>
lyn**** 4 <class 'int'>
chjis**** 5 <class 'int'>
lyn**** 4 <class 'int'>
dkwj**** 5 <class 'int'>
id**** 5 <class 'int'>
so**** 4 <class 'int'>
lcw**** 5 <class 'int'>
dhy**** 5 <class 'int'>
fjqm**** 5 <class 'int'>
lhylph**** 5 <class 'int'>
ehowlwhr**** 5 <class 'int'>
comg4395**** 5 <class 'int'>
nicky**** 5 <class 'int'>
hamin**** 5 <class 'int'>
rlaalsw**** 5 <class 'int'>
chosu**** 5 <class 'int'>
bulia**** 4 <class 'int'>
go**** 5 <class 'int'>
00c**** 5 <class 'int'>
gm17**** 5 <class 'int'>
kel**** 5 <class 'int'>
jhj**** 5 <class 'int'>
bban**** 5 <class 'int'>
as890**** 5 <class 'int'>
guswl**** 5 <class 'int'>
ebero**** 5 <class 'int'>
kht**** 5 <class 'int'>
jjy**** 5 <class 'int'>
wkdala**** 5 <class 'int'>
jjrw**** 5 <class 'int'>
nina**** 5 <class 'int'>
yym**** 5 <class 'int'>
lej**** 5 <class 'int'>
dmsw**** 5 <class 'int'>
dohee01**** 5 <class 'int'>
suba**** 5 <class 'int'>
a88**** 5 <class 'int'>
es**** 5 <class 'int'>
espoi**** 5 <class 'int'>
espoi**** 5 <class 'int'>
tnql**** 4 <class 'int'>
k202212108**** 4 <class 'int'>
jianhong**** 5 <class 'int'>
cxcx1**** 5 <class 'int'>
ayk03**** 5 <class 'int'>
rei**** 5 <class 'int'>
lcw**** 5 <class 'int'>
yoose**** 5 <class 'int'>
yoose**** 5 <class 'int'>
kh**** 5 <class 'int'>
wltjd**** 5 <class 'int'>
wa**** 4 <class 'int'>
diva**** 5 <class 'int'>
khj04**** 5 <class 'int'>
36mi**** 5 <class 'int'>
s21**** 5 <class 'int'>
dalnyang**** 5 <class 'int'>
ky1015**** 5 <class 'int'>
hmoh 5 <class 'int'>
hmoh 5 <class 'int'>
hmoh 5 <class 'int'>
hmoh 5 <class 'int'>
하늘도맑고ㅎ 5 <class 'int'>
핑크올리 5 <class 'int'>
윈느 5 <class 'int'>
햋ㅉ 5 <class 'int'>
G0ngju 5 <class 'int'>
복히맘 5 <class 'int'>
재롱잔치 5 <class 'int'>
ㄱㅁㄱㅇㄴ 5 <class 'int'>
ㅁㅁㅡㅡ 5 <class 'int'>
ssu04 5 <class 'int'>
뷰티설리 5 <class 'int'>
By7lish 5 <class 'int'>
이바둑 5 <class 'int'>
김빠진맥주가제일싫어 5 <class 'int'>
Cocorim 5 <class 'int'>
얼리브용용 5 <class 'int'>
girlson**** 5 <class 'int'>
hkli**** 5 <class 'int'>
sunshine**** 5 <class 'int'>
bl**** 5 <class 'int'>
min981**** 5 <class 'int'>
isa**** 5 <class 'int'>
dmsthfdm**** 5 <class 'int'>
ljhksy**** 5 <class 'int'>
subin7**** 5 <class 'int'>
qkqm**** 4 <class 'int'>
ljy**** 5 <class 'int'>
203호뭉이 5 <class 'int'>
co**** 5 <class 'int'>
뚜비두바밥 5 <class 'int'>
Si9 5 <class 'int'>
wlskthw**** 5 <class 'int'>
kohs**** 3 <class 'int'>
ma**** 5 <class 'int'>
wldbs**** 5 <class 'int'>
ohseung**** 5 <class 'int'>
apfhd**** 5 <class 'int'>
옐ㄴ 5 <class 'int'>
냄새먹는하하 4 <class 'int'>
옐ㄴ 5 <class 'int'>
냄새먹는하하 4 <class 'int'>
미니몬 5 <class 'int'>
Dadatube 4 <class 'int'>
다햄 4 <class 'int'>
스톤고래 5 <class 'int'>
hhyezin 5 <class 'int'>
natsu 5 <class 'int'>
튤립꽃 5 <class 'int'>
튤립꽃 5 <class 'int'>
그거랑다르지인마 4 <class 'int'>
소봉소봉조소봉 5 <class 'int'>
올영창문두짝 4 <class 'int'>
cherryblossun 5 <class 'int'>
눌누리 5 <class 'int'>
좋은아침 5 <class 'int'>
a01**** 5 <class 'int'>
shsl**** 5 <class 'int'>
chloelo**** 5 <class 'int'>
mo**** 5 <class 'int'>
didh**** 5 <class 'int'>
hye**** 5 <class 'int'>
methylor**** 5 <class 'int'>
ic**** 5 <class 'int'>
goodli**** 5 <class 'int'>
jjsuns**** 5 <class 'int'>
tnqls**** 5 <class 'int'>
cheey**** 5 <class 'int'>
ok71**** 5 <class 'int'>
sar**** 5 <class 'int'>
srju**** 5 <class 'int'>
min**** 5 <class 'int'>
bjm**** 5 <class 'int'>
chans**** 5 <class 'int'>
pks**** 4 <class 'int'>
lcw**** 5 <class 'int'>
lcw**** 5 <class 'int'>
genie**** 5 <class 'int'>
tofha**** 5 <class 'int'>
nii2**** 5 <class 'int'>
tig0**** 5 <class 'int'>
lcw**** 5 <class 'int'>
lcw**** 5 <class 'int'>
fj**** 5 <class 'int'>
saji**** 5 <class 'int'>
yuvel**** 5 <class 'int'>
ksuji**** 5 <class 'int'>
chj02**** 5 <class 'int'>
dbfla**** 5 <class 'int'>
tss04**** 5 <class 'int'>
2hot4**** 4 <class 'int'>
sehun78**** 5 <class 'int'>
wjddnjst**** 5 <class 'int'>
yoon**** 3 <class 'int'>
jdr**** 5 <class 'int'>
ru**** 5 <class 'int'>
wfd**** 4 <class 'int'>
hwsh**** 4 <class 'int'>
idss**** 5 <class 'int'>
young9an**** 5 <class 'int'>
didhdt**** 4 <class 'int'>
violet**** 5 <class 'int'>
928eh**** 5 <class 'int'>
xmdnlxl99 5 <class 'int'>
aks**** 5 <class 'int'>
cjstkskf**** 3 <class 'int'>
alswl**** 5 <class 'int'>
cmn**** 5 <class 'int'>
배가고팟는데안고파 4 <class 'int'>
예쁜건해로워 5 <class 'int'>
녹두언니 5 <class 'int'>
kin8709 5 <class 'int'>
lynn20**** 1 <class 'int'>

## 6.제거대상용매 DB 넣기

In [1]:
import pandas as pd
solvent = pd.read_csv('./files/06.solvent_EK.csv')
solvent

                             INGR_ENG_NAME           INGR_KOR_NAME
0                       CYCLOTETRASILOXANE             사이클로테트라실록세인
1                              TETRADECENE                   테트라데센
2                      METHYL TRIMETHICONE                메틸트라이메티콘
3                               OCTADECANE                   옥타데케인
4                                   PEG-18                  피이지-18
..                                     ...                     ...
595               CETEARTRIMONIUM CHLORIDE           세테아트라이모늄클로라이드
596             EGG SHELL MEMBRANE EXTRACT                  난각막추출물
597                           O-CYMEN-5-OL               o-사이멘-5-올
598                POTASSIUM METABISULFITE             포타슘메타바이설파이트
599  HYDROGENATED TALLOWTRIMONIUM CHLORIDE  하이드로제네이티드탈로우트라이모늄클로라이드

[600 rows x 2 columns]

In [2]:
import pymysql
import csv
import pandas as pd
solvent = pd.read_csv('./files/06.solvent_EK.csv')
conn = pymysql.connect(host='localhost', user='root', password='apple123!!', db = 'beaulol', charset='utf8')
cur = conn.cursor()

cur.execute("CREATE TABLE IF NOT EXISTS solvent (ingredient_eng VARCHAR(255), ingredient_kor VARCHAR(255))")

for i in range(len(solvent)):
    eng_name = solvent['INGR_ENG_NAME'][i]
    kor_name = solvent['INGR_KOR_NAME'][i]
    sql = "INSERT INTO solvent (ingredient_eng, ingredient_kor) VALUES (%s, %s);"
    cur.execute(sql, (eng_name, kor_name))

conn.commit()
conn.close()