In [1]:
#코드 디렉토리 위치 확인하기

import os
print(os.getcwd())

/Users/brielle/Desktop/Career/02.Side Project/00.In Progress/01.Ubion/03.Offline/00.컴퓨터언어/04.데이터 분석

### 완성본

In [2]:
# 완성본

import pymysql
import csv
conn = pymysql.connect(host='localhost',user='root',password='apple123!!',db='shoppingDB',charset='utf8')
cur = conn.cursor()

f = open("../03.데이터수집/02.크롤링/mission_coupan.csv","r",encoding='utf8')

csvReader = list(csv.reader(f))
cur.execute("create table if not exists missionCoupan3 (prdName char(50) primary key, prdPrice char(10), prdDeli char(30), prdRate char(10), prdLink mediumtext, prdImage char(10))")

for data in csvReader[0:]:
    row1 = data[0]
    row2 = data[1]
    row3 = data[2]
    row4 = data[3]
    row5 = data[4]
    row6 = data[5]
    
    try:
        sql = '''insert into missionCoupan3(prdName,prdPrice,prdDeli,prdRate,prdLink,prdImage) values(%s, %s, %s, %s, %s, %s);'''
        cur.execute(sql,(row1, row2, row3, row4, row5, row6))
    except:
        sql = '''insert into missionCoupan3(prdName,prdDeli,prdLink,prdImage) values(%s, %s, %s, %s);'''
        cur.execute(sql,(row1, row3, row5, row6))


f.close()
conn.commit()

conn.close()

In [ ]:
conn.close()

### 내가 만난 에러들

In [11]:
#Data Truncated
conn = pymysql.connect(host='localhost',user='root',password='apple123!!',db='shoppingDB',charset='utf8')
cur = conn.cursor()

f = open("../03.데이터수집/02.크롤링/mission_coupan.csv","r",encoding='utf8')

csvReader = list(csv.reader(f))
cur.execute("create table if not exists missionCoupan4 (prdName char(50) primary key, prdPrice int(10), prdDeli char(30), prdRate float(10), prdLink char(100), prdImage char(10))")


for data in csvReader[0:]:
    row1 = data[0]
    row2 = data[1]
    row3 = data[2]
    row4 = data[3]
    row5 = data[4]
    row6 = data[5]
    

    sql = '''insert into missionCoupan4(prdName,prdPrice,prdDeli,prdRate,prdLink,prdImage) values(%s, %s, %s, %s, %s, %s);'''
    cur.execute(sql,(row1, row2, row3, row4, row5, row6))

DataError: (1265, "Data truncated for column 'prdPrice' at row 1")

In [17]:
#TypeError
conn = pymysql.connect(host='localhost',user='root',password='apple123!!',db='shoppingDB',charset='utf8')
cur = conn.cursor()

f = open("../03.데이터수집/02.크롤링/mission_coupan.csv","r",encoding='utf8')

csvReader = list(csv.reader(f))
cur.execute("create table if not exists missionCoupan4 (prdName char(50) primary key, prdDeli char(30), prdRate char(10), prdLink char(100), prdImage char(10))")


for data in csvReader[0:]:
    row1 = data[0]
    row2 = data[1]
    row3 = data[2]
    row4 = data[3]
    row5 = data[4]
    row6 = data[5]
    

    sql = '''insert into missionCoupan4(prdName,prdDeli,prdRate,prdLink,prdImage) values(%s, %s, %s, %s, %s, %s);'''
    cur.execute(sql,(row1, row3, row4, row5, row6))

TypeError: not enough arguments for format string

In [19]:
#OperationalError
conn = pymysql.connect(host='localhost',user='root',password='apple123!!',db='shoppingDB',charset='utf8')
cur = conn.cursor()

f = open("../03.데이터수집/02.크롤링/mission_coupan.csv","r",encoding='utf8')

csvReader = list(csv.reader(f))
cur.execute("create table if not exists missionCoupan4 (prdName char(50) primary key, prdDeli char(30), prdLink char(100), prdImage char(10))")


for data in csvReader[0:]:
    row1 = data[0]
    row2 = data[1]
    row3 = data[2]
    row4 = data[3]
    row5 = data[4]
    row6 = data[5]
    

    sql = '''insert into missionCoupan4(prdName,prdDeli,prdRate,prdLink,prdImage) values(%s, %s, %s, %s);'''
    cur.execute(sql,(row1, row3, row5, row6))

OperationalError: (1136, "Column count doesn't match value count at row 1")

In [3]:
# IntegrityError

import pymysql
import csv
conn = pymysql.connect(host='localhost',user='root',password='apple123!!',db='shoppingDB',charset='utf8')
cur = conn.cursor()

f = open("../03.데이터수집/02.크롤링/mission_coupan.csv","r",encoding='utf8')

csvReader = list(csv.reader(f))
cur.execute("create table if not exists missionCoupan3 (prdName char(50) primary key, prdPrice char(10), prdDeli char(30), prdRate char(10), prdLink mediumtext, prdImage char(10))")

for data in csvReader[0:]:
    row1 = data[0]
    row2 = data[1]
    row3 = data[2]
    row4 = data[3]
    row5 = data[4]
    row6 = data[5]
    
    try:
        sql = '''insert into missionCoupan(prdName,prdPrice,prdDeli,prdRate,prdLink,prdImage) values(%s, %s, %s, %s, %s, %s);'''
        cur.execute(sql,(row1, row2, row3, row4, row5, row6))
    except:
        sql = '''insert into missionCoupan(prdName,prdDeli,prdLink,prdImage) values(%s, %s, %s, %s);'''
        cur.execute(sql,(row1, row3, row5, row6))


f.close()
conn.commit()

conn.close()

IntegrityError: (1062, 'Duplicate entry \'\ufeff"롯데웰푸드 오잉 노가리칩 청양마요맛\' for key \'missioncoupan.PRIMARY\'')