# 데이터분석

### 데이터베이스

#### DBMS(Database managing system) vs RDBMS(relation dbms)

# 11월 14일

### sql 기초 : mySQL workbench 참조

### python과 sql 합치기

In [1]:
# 아래 코드를 통해 mysql의 특정 데이터베이스랑 연결되어 있음
import pymysql
conn = None   #교수님 버전 conn, cur = None, None으로 에러나서 왼쪽처럼 고쳤더니 실행됨
cur = None


data1, data2, data3, data4 = "","","",""
sql = ""

conn = pymysql.connect(host='localhost',user='root',password='apple123!!',db = 'shoppingDB',charset='utf8')

cur = conn.cursor()
cur.execute("create table if not exists userTable(id char(4),userName char(15), email char(20), birthYear int)")
# .execute("") : ""안의 코드를 cur로 보내버림

# cur = conn.cursor()

cur.execute("insert into userTable values('john','John Bann','jphn@naver.com',1990)")
cur.execute("insert into userTable values('kim','kim mike','kim@naver.com',1980)")
cur.execute("insert into userTable values('park','park minseo','park@naver.com',2000)")

conn.commit()
conn.close()

NameError: name 'pymysql' is not defined

1